# In this short notebook we will explore for a random year and a random race which datas we actually have

In [4]:
import os
import pickle

base_path = "/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache"

print(os.listdir(base_path))

['2025', '2024', '2023', '.DS_Store', 'fastf1_http_cache.sqlite']

In [6]:
year = "2023"
gp = "2023-03-19_Saudi_Arabian_Grand_Prix"
race = "2023-03-19_Race"

path_to_race = os.path.join(base_path, year, gp, race)
print(path_to_race)
print(os.path.exists(path_to_race))

/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache/2023/2023-03-19_Saudi_Arabian_Grand_Prix/2023-03-19_Race
True

In [7]:

data_summary = {}

for f in os.listdir(path_to_race):
    if f.endswith(".ff1pkl"):
        fpath = os.path.join(path_to_race, f)
        with open(fpath, "rb") as file:
            data = pickle.load(file)
        data_summary[f] = type(data)

for k, v in data_summary.items():
    print(f"{k}: {v}")

car_data.ff1pkl: <class 'dict'>
weather_data.ff1pkl: <class 'dict'>
driver_info.ff1pkl: <class 'dict'>
position_data.ff1pkl: <class 'dict'>
lap_count.ff1pkl: <class 'dict'>
session_status_data.ff1pkl: <class 'dict'>
race_control_messages.ff1pkl: <class 'dict'>
timing_app_data.ff1pkl: <class 'dict'>
track_status_data.ff1pkl: <class 'dict'>
session_info.ff1pkl: <class 'dict'>
_extended_timing_data.ff1pkl: <class 'dict'>

# Inspecting the car_dat.ff1pkl

We can see that we have 26000 rows and 9 colums: 
Time | Date | Rpm | Speed | nGear | Throttle | Brake | DRS | source

In [8]:
import pprint

fpath = os.path.join(path_to_race, "car_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))
pprint.pprint(list(data.items())[:5])

<class 'dict'>
[('1',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:00:04.416000 2023-03-19 16:01:03.621747    0      0      0
1     0 days 00:00:04.416000 2023-03-19 16:01:03.861712    0      0      0
2     0 days 00:00:04.416000 2023-03-19 16:01:04.021688    0      0      0
3     0 days 00:00:04.416000 2023-03-19 16:01:04.181664    0      0      0
4     0 days 00:00:04.416000 2023-03-19 16:01:04.501616    0      0      0
...                      ...                        ...  ...    ...    ...
33369 0 days 02:28:01.525000 2023-03-19 18:29:01.610916    0      0      0
33370 0 days 02:28:02.445000 2023-03-19 18:29:01.850881    0      0      0
33371 0 days 02:28:02.445000 2023-03-19 18:29:02.170833    0      0      0
33372 0 days 02:28:02.445000 2023-03-19 18:29:02.530779    0      0      0
33373 0 days 02:28:02.925000 2023-03-19 18:29:03.010707    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33369       104   True    0    car
33370       104   True    0    car
33371       104   True    0    car
33372       104   True    0    car
33373       104   True    0    car

[33374 rows x 9 columns]),
 ('2',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:00:04.416000 2023-03-19 16:01:03.621747     0      0      0
1     0 days 00:00:04.416000 2023-03-19 16:01:03.861712     0      0      0
2     0 days 00:00:04.416000 2023-03-19 16:01:04.021688     0      0      0
3     0 days 00:00:04.416000 2023-03-19 16:01:04.181664     0      0      0
4     0 days 00:00:04.416000 2023-03-19 16:01:04.501616     0      0      0
...                      ...                        ...   ...    ...    ...
33369 0 days 02:28:01.525000 2023-03-19 18:29:01.610916  7293     85      2
33370 0 days 02:28:02.445000 2023-03-19 18:29:01.850881  7242     85      2
33371 0 days 02:28:02.445000 2023-03-19 18:29:02.170833  7204     83      2
33372 0 days 02:28:02.445000 2023-03-19 18:29:02.530779  6863     82      2
33373 0 days 02:28:02.925000 2023-03-19 18:29:03.010707  6848     81      2

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33369         3  False    0    car
33370         0  False    0    car
33371         0  False    0    car
33372         0  False    0    car
33373         7  False    0    car

[33374 rows x 9 columns]),
 ('4',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:00:04.416000 2023-03-19 16:01:03.621747    0      0      0
1     0 days 00:00:04.416000 2023-03-19 16:01:03.861712    0      0      0
2     0 days 00:00:04.416000 2023-03-19 16:01:04.021688    0      0      0
3     0 days 00:00:04.416000 2023-03-19 16:01:04.181664    0      0      0
4     0 days 00:00:04.416000 2023-03-19 16:01:04.501616    0      0      0
...                      ...                        ...  ...    ...    ...
33369 0 days 02:28:01.525000 2023-03-19 18:29:01.610916    0      0      0
33370 0 days 02:28:02.445000 2023-03-19 18:29:01.850881    0      0      0
33371 0 days 02:28:02.445000 2023-03-19 18:29:02.170833    0      0      0
33372 0 days 02:28:02.445000 2023-03-19 18:29:02.530779    0      0      0
33373 0 days 02:28:02.925000 2023-03-19 18:29:03.010707    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33369         0  False    0    car
33370         0  False    0    car
33371         0  False    0    car
33372         0  False    0    car
33373         0  False    0    car

[33374 rows x 9 columns]),
 ('10',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:00:04.416000 2023-03-19 16:01:03.621747     0      0      0
1     0 days 00:00:04.416000 2023-03-19 16:01:03.861712     0      0      0
2     0 days 00:00:04.416000 2023-03-19 16:01:04.021688     0      0      0
3     0 days 00:00:04.416000 2023-03-19 16:01:04.181664     0      0      0
4     0 days 00:00:04.416000 2023-03-19 16:01:04.501616     0      0      0
...                      ...                        ...   ...    ...    ...
33369 0 days 02:28:01.525000 2023-03-19 18:29:01.610916  7939    114      3
33370 0 days 02:28:02.445000 2023-03-19 18:29:01.850881  7970    115      3
33371 0 days 02:28:02.445000 2023-03-19 18:29:02.170833  7678    115      3
33372 0 days 02:28:02.445000 2023-03-19 18:29:02.530779  7655    111      3
33373 0 days 02:28:02.925000 2023-03-19 18:29:03.010707  7297    106      3

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33369        60  False    0    car
33370        44  False    0    car
33371         0  False    0    car
33372         0  False    0    car
33373         0  False    0    car

[33374 rows x 9 columns]),
 ('11',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:00:04.416000 2023-03-19 16:01:03.621747    0      0      0
1     0 days 00:00:04.416000 2023-03-19 16:01:03.861712    0      0      0
2     0 days 00:00:04.416000 2023-03-19 16:01:04.021688    0      0      0
3     0 days 00:00:04.416000 2023-03-19 16:01:04.181664    0      0      0
4     0 days 00:00:04.416000 2023-03-19 16:01:04.501616    0      0      0
...                      ...                        ...  ...    ...    ...
33369 0 days 02:28:01.525000 2023-03-19 18:29:01.610916    0      0      0
33370 0 days 02:28:02.445000 2023-03-19 18:29:01.850881    0      0      0
33371 0 days 02:28:02.445000 2023-03-19 18:29:02.170833    0      0      0
33372 0 days 02:28:02.445000 2023-03-19 18:29:02.530779    0      0      0
33373 0 days 02:28:02.925000 2023-03-19 18:29:03.010707    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33369         0  False    0    car
33370         0  False    0    car
33371         0  False    0    car
33372         0  False    0    car
33373         0  False    0    car

[33374 rows x 9 columns])]

In [9]:
import pandas as pd

print("Available drivers (car numbers):", list(data.keys()))

# Choose one driver, e.g. car number '44' or any in your output
driver_key = list(data.keys())[18]   # or '44' if it exists
df_driver = data[driver_key]

print(f"\nDriver {driver_key} telemetry:")
print("Shape:", df_driver.shape)
display(df_driver)

Available drivers (car numbers): ['1', '2', '4', '10', '11', '14', '16', '18', '20', '21', '22', '23', '24', '27', '31', '44', '55', '63', '77', '81']

Driver 77 telemetry:
Shape: (33374, 9)

,Time,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source
0,0 days 00:00:04.416000,2023-03-19 16:01:03.621747,0,0,0,0,False,0,car
1,0 days 00:00:04.416000,2023-03-19 16:01:03.861712,0,0,0,0,False,0,car
2,0 days 00:00:04.416000,2023-03-19 16:01:04.021688,0,0,0,0,False,0,car
3,0 days 00:00:04.416000,2023-03-19 16:01:04.181664,0,0,0,0,False,0,car
4,0 days 00:00:04.416000,2023-03-19 16:01:04.501616,0,0,0,0,False,0,car
...,...,...,...,...,...,...,...,...,...
33369,0 days 02:28:01.525000,2023-03-19 18:29:01.610916,0,0,0,0,False,0,car
33370,0 days 02:28:02.445000,2023-03-19 18:29:01.850881,0,0,0,0,False,0,car
33371,0 days 02:28:02.445000,2023-03-19 18:29:02.170833,0,0,0,0,False,0,car
33372,0 days 02:28:02.445000,2023-03-19 18:29:02.530779,0,0,0,104,True,0,car
33373,0 days 02:28:02.925000,2023-03-19 18:29:03.010707,0,0,0,104,True,0,car

# Investigating the extended timing data

We can see that we havw a tuple, that stores 2 dataframe and one list 

In the first dataframe we have 1000 row with 17 colums

In the second one we have 22000 entries with 5 colums 

and the 3 one which is atiny list is typically bookkeeping offsets FastF1 uses to align timing feeds across midnight/day boundaries or to normalize different data sources.

In [10]:
import pprint

fpath = os.path.join(path_to_race, "_extended_timing_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'tuple'>
3
Index 0: <class 'pandas.core.frame.DataFrame'>
Index 1: <class 'pandas.core.frame.DataFrame'>
Index 2: <class 'list'>

In [11]:
#data[0].info()

# just for driver 44

data_44 = data[0].loc[data[0]['Driver'] == '1']
data_44

,Time,Driver,LapTime,NumberOfLaps,NumberOfPitStops,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest
665,0 days 01:04:36.018000,1,NaT,1,0,0 days 00:24:05.612000,NaT,NaT,0 days 00:00:31.408000,0 days 00:00:31.152000,NaT,0 days 01:04:05.068000,0 days 01:04:36.114000,287.0,289.0,300.0,326.0,False
666,0 days 01:06:13.698000,1,0 days 00:01:37.680000,2,0,NaT,NaT,0 days 00:00:36.595000,0 days 00:00:30.654000,0 days 00:00:30.431000,0 days 01:05:12.709000,0 days 01:05:43.363000,0 days 01:06:13.794000,284.0,307.0,296.0,318.0,True
667,0 days 01:07:50.224000,1,0 days 00:01:36.526000,3,0,NaT,NaT,0 days 00:00:36.020000,0 days 00:00:30.417000,0 days 00:00:30.089000,0 days 01:06:49.814000,0 days 01:07:20.231000,0 days 01:07:50.320000,288.0,325.0,309.0,342.0,True
668,0 days 01:09:26.727000,1,0 days 00:01:36.503000,4,0,NaT,NaT,0 days 00:00:36.021000,0 days 00:00:30.177000,0 days 00:00:30.305000,0 days 01:08:26.341000,0 days 01:08:56.518000,0 days 01:09:26.823000,286.0,293.0,310.0,321.0,True
669,0 days 01:11:02.086000,1,0 days 00:01:35.359000,5,0,NaT,NaT,0 days 00:00:35.096000,0 days 00:00:30.116000,0 days 00:00:30.147000,0 days 01:10:01.919000,0 days 01:10:32.035000,0 days 01:11:02.182000,NaN,308.0,296.0,318.0,True
670,0 days 01:12:37.926000,1,0 days 00:01:35.840000,6,0,NaT,NaT,0 days 00:00:35.547000,0 days 00:00:30.100000,0 days 00:00:30.193000,0 days 01:11:37.729000,0 days 01:12:07.829000,0 days 01:12:38.022000,287.0,308.0,296.0,313.0,True
671,0 days 01:14:13.613000,1,0 days 00:01:35.687000,7,0,NaT,NaT,0 days 00:00:35.409000,0 days 00:00:30.025000,0 days 00:00:30.253000,0 days 01:13:13.431000,0 days 01:13:43.456000,0 days 01:14:13.709000,NaN,321.0,309.0,336.0,True
672,0 days 01:15:48.742000,1,0 days 00:01:35.129000,8,0,NaT,NaT,0 days 00:00:35.091000,0 days 00:00:30.143000,0 days 00:00:29.895000,0 days 01:14:48.800000,0 days 01:15:18.943000,0 days 01:15:48.838000,284.0,304.0,308.0,314.0,True
673,0 days 01:17:24.303000,1,0 days 00:01:35.561000,9,0,NaT,NaT,0 days 00:00:35.450000,0 days 00:00:30.017000,0 days 00:00:30.094000,0 days 01:16:24.288000,0 days 01:16:54.305000,0 days 01:17:24.399000,288.0,307.0,297.0,325.0,False
674,0 days 01:18:59.746000,1,0 days 00:01:35.443000,10,0,NaT,NaT,0 days 00:00:35.434000,0 days 00:00:30.050000,0 days 00:00:29.959000,0 days 01:17:59.833000,0 days 01:18:29.883000,0 days 01:18:59.842000,NaN,307.0,309.0,314.0,False
675,0 days 01:20:35.052000,1,0 days 00:01:35.306000,11,0,NaT,NaT,0 days 00:00:35.387000,0 days 00:00:29.767000,0 days 00:00:30.152000,0 days 01:19:35.229000,0 days 01:20:04.996000,0 days 01:20:35.148000,287.0,310.0,311.0,295.0,False
676,0 days 01:22:09.900000,1,0 days 00:01:34.848000,12,0,NaT,NaT,0 days 00:00:34.856000,0 days 00:00:29.984000,0 days 00:00:30.008000,0 days 01:21:10.004000,0 days 01:21:39.988000,0 days 01:22:09.996000,288.0,308.0,296.0,309.0,True
677,0 days 01:23:45.083000,1,0 days 00:01:35.183000,13,0,NaT,NaT,0 days 00:00:35.069000,0 days 00:00:29.867000,0 days 00:00:30.247000,0 days 01:22:45.065000,0 days 01:23:14.932000,0 days 01:23:45.179000,NaN,323.0,309.0,334.0,False
678,0 days 01:25:19.283000,1,0 days 00:01:34.200000,14,0,NaT,NaT,0 days 00:00:34.609000,0 days 00:00:29.784000,0 days 00:00:29.807000,0 days 01:24:19.788000,0 days 01:24:49.572000,0 days 01:25:19.379000,289.0,307.0,295.0,309.0,True
679,0 days 01:26:53.782000,1,0 days 00:01:34.499000,15,0,NaT,NaT,0 days 00:00:34.815000,0 days 00:00:29.832000,0 days 00:00:29.852000,0 days 01:25:54.194000,0 days 01:26:24.026000,0 days 01:26:53.878000,288.0,306.0,295.0,313.0,False
680,0 days 01:28:28.225000,1,0 days 00:01:34.443000,16,0,NaT,NaT,0 days 00:00:34.863000,0 days 00:00:29.584000,0 days 00:00:29.996000,0 days 01:27:28.741000,0 days 01:27:58.325000,0 days 01:28:28.321000,NaN,321.0,306.0,310.0,False
681,0 days 01:30:02.015000,1,0 days 00:01:33.790000,17,0,NaT,NaT,0 days 00:00:34.315000,0 days 00:00:29.711000,0 days 00:00:29.764000,0 days 01:29:02.636000,0 days 01:29:32.347000,0 days 01:30:02.111000,287.0,304.0,294.0,310.0,True
682,0 days 01:32:16.363000,1,0 days 00:02:14.348000,18,0,NaT,0 days 01:32:15.366000,0 days 00:00:48.991000,0 days 00:00:40.059000,0 days 00:00:45.298000,0 days 01:30:51.102000,0 days 01:31:31.161000,0 days 01:32:16.459000,188.0,149.0,NaN,197.0,False
683,0 days 01:35:03.681000,1,NaT,19,1,0 days 01:32:36.225000,NaT,0 days 00:01:03.956000,0 days 00:00:47.565000,0 days 00:00:55.738000,0 days 01:33:20.474000,0 days 01:34:08.051000,0 days 01:35:04.238000,263.0,113.0,115.0,106.0,False
684,0 days 01:37:40.131000,1,NaT,20,1,NaT,NaT,0 days 00:00:56.723000,0 days 00:00:49.419000,0 days 00:00:50.369000,0 days 01:36:00.565000,0 days 01:36:49.970000,0 days 01:37:40.328000,155.0,135.0,265.0,195.0,False
685,0 days 01:39:17.077000,1,0 days 00:01:36.946000,21,1,NaT,NaT,0 days 00:00:36.872000,0 days 00:00:29.989000,0 days 00:00:30.085000,0 days 01:38:17.099000,0 days 01:38:47.088000,0 days 01:39:17.173000,289.0,303.0,299.0,318.0,False
686,0 days 01:40:52.050000,1,0 days 00:01:34.973000,22,1,NaT,NaT,0 days 00:00:35.462000,0 days 00:00:29.710000,0 days 00:00:29.801000,0 days 01:39:52.635000,0 days 01:40:22.345000,0 days 01:40:52.146000,288.0,307.0,301.0,319.0,False
687,0 days 01:42:26.165000,1,0 days 00:01:34.115000,23,1,NaT,NaT,0 days 00:00:35.197000,0 days 00:00:29.397000,0 days 00:00:29.521000,0 days 01:41:27.343000,0 days 01:41:56.740000,0 days 01:42:26.261000,289.0,318.0,297.0,334.0,False
688,0 days 01:44:00.311000,1,0 days 00:01:34.146000,24,1,NaT,NaT,0 days 00:00:34.754000,0 days 00:00:29.349000,0 days 00:00:30.043000,0 days 01:43:01.015000,0 days 01:43:30.364000,0 days 01:44:00.407000,288.0,322.0,312.0,312.0,False
689,0 days 01:45:33.244000,1,0 days 00:01:32.933000,25,1,NaT,NaT,0 days 00:00:33.994000,0 days 00:00:29.387000,0 days 00:00:29.552000,0 days 01:44:34.401000,0 days 01:45:03.788000,0 days 01:45:33.340000,289.0,305.0,296.0,310.0,True
690,0 days 01:47:06.184000,1,0 days 00:01:32.940000,26,1,NaT,NaT,0 days 00:00:34.131000,0 days 00:00:29.347000,0 days 00:00:29.462000,0 days 01:46:07.471000,0 days 01:46:36.818000,0 days 01:47:06.280000,290.0,303.0,295.0,309.0,False
691,0 days 01:48:39.022000,1,0 days 00:01:32.838000,27,1,NaT,NaT,0 days 00:00:34.129000,0 days 00:00:29.235000,0 days 00:00:29.474000,0 days 01:47:40.409000,0 days 01:48:09.644000,0 days 01:48:39.118000,NaN,304.0,293.0,310.0,True
692,0 days 01:50:11.891000,1,0 days 00:01:32.869000,28,1,NaT,NaT,0 days 00:00:34.108000,0 days 00:00:29.273000,0 days 00:00:29.488000,0 days 01:49:13.226000,0 days 01:49:42.499000,0 days 01:50:11.987000,NaN,304.0,295.0,311.0,False
693,0 days 01:51:44.561000,1,0 days 00:01:32.670000,29,1,NaT,NaT,0 days 00:00:34.023000,0 days 00:00:29.222000,0 days 00:00:29.425000,0 days 01:50:46.010000,0 days 01:51:15.232000,0 days 01:51:44.657000,289.0,304.0,294.0,309.0,True
694,0 days 01:53:17.438000,1,0 days 00:01:32.877000,30,1,NaT,NaT,0 days 00:00:34.180000,0 days 00:00:29.228000,0 days 00:00:29.469000,0 days 01:52:18.837000,0 days 01:52:48.065000,0 days 01:53:17.534000,290.0,304.0,297.0,312.0,False
695,0 days 01:54:49.820000,1,0 days 00:01:32.382000,31,1,NaT,NaT,0 days 00:00:33.896000,0 days 00:00:29.086000,0 days 00:00:29.400000,0 days 01:53:51.430000,0 days 01:54:20.516000,0 days 01:54:49.916000,291.0,306.0,297.0,311.0,True
696,0 days 01:56:22.220000,1,0 days 00:01:32.400000,32,1,NaT,NaT,0 days 00:00:33.879000,0 days 00:00:29.152000,0 days 00:00:29.369000,0 days 01:55:23.795000,0 days 01:55:52.947000,0 days 01:56:22.316000,NaN,304.0,297.0,312.0,False
697,0 days 01:57:54.607000,1,0 days 00:01:32.387000,33,1,NaT,NaT,0 days 00:00:33.895000,0 days 00:00:29.164000,0 days 00:00:29.328000,0 days 01:56:56.211000,0 days 01:57:25.375000,0 days 01:57:54.703000,290.0,303.0,297.0,312.0,False
698,0 days 01:59:26.948000,1,0 days 00:01:32.341000,34,1,NaT,NaT,0 days 00:00:33.965000,0 days 00:00:29.029000,0 days 00:00:29.347000,0 days 01:58:28.668000,0 days 01:58:57.697000,0 days 01:59:27.044000,291.0,304.0,298.0,311.0,True
699,0 days 02:00:59.197000,1,0 days 00:01:32.249000,35,1,NaT,NaT,0 days 00:00:33.736000,0 days 00:00:29.176000,0 days 00:00:29.337000,0 days 02:00:00.780000,0 days 02:00:29.956000,0 days 02:00:59.293000,NaN,304.0,296.0,309.0,True
700,0 days 02:02:31.581000,1,0 days 00:01:32.384000,36,1,NaT,NaT,0 days 00:00:33.812000,0 days 00:00:29.204000,0 days 00:00:29.368000,0 days 02:01:33.105000,0 days 02:02:02.309000,0 days 02:02:31.677000,290.0,304.0,297.0,311.0,False
701,0 days 02:04:04.077000,1,0 days 00:01:32.496000,37,1,NaT,NaT,0 days 00:00:33.844000,0 days 00:00:29.290000,0 days 00:00:29.362000,0 days 02:03:05.521000,0 days 02:03:34.811000,0 days 02:04:04.173000,292.0,305.0,299.0,312.0,False
702,0 days 02:05:37.200000,1,0 days 00:01:33.123000,38,1,NaT,NaT,0 days 00:00:34.607000,0 days 00:00:29.176000,0 days 00:00:29.340000,0 days 02:04:38.780000,0 days 02:05:07.956000,0 days 02:05:37.296000,291.0,305.0,296.0,312.0,False
703,0 days 02:07:09.632000,1,0 days 00:01:32.432000,39,1,NaT,NaT,0 days 00:00:33.870000,0 days 00:00:29.263000,0 days 00:00:29.299000,0 days 02:06:11.166000,0 days 02:06:40.429000,0 days 02:07:09.728000,NaN,306.0,296.0,314.0,False
704,0 days 02:08:42.238000,1,0 days 00:01:32.606000,40,1,NaT,NaT,0 days 00:00:33.947000,0 days 00:00:29.238000,0 days 00:00:29.421000,0 days 02:07:43.675000,0 days 02:08:12.913000,0 days 02:08:42.334000,NaN,307.0,296.0,312.0,False
705,0 days 02:10:14.876000,1,0 days 00:01:32.638000,41,1,NaT,NaT,0 days 00:00:34.131000,0 days 00:00:29.221000,0 days 00:00:29.286000,0 days 02:09:16.465000,0 days 02:09:45.686000,0 days 02:10:14.972000,290.0,310.0,299.0,315.0,False
706,0 days 02:11:47.150000,1,0 days 00:01:32.274000,42,1,NaT,NaT,0 days 00:00:33.899000,0 days 00:00:29.131000,0 days 00:00:29.244000,0 days 02:10:48.871000,0 days 02:11:18.002000,0 days 02:11:47.246000,292.0,309.0,297.0,317.0,False
707,0 days 02:13:19.493000,1,0 days 00:01:32.343000,43,1,NaT,NaT,0 days 00:00:33.863000,0 days 00:00:29.151000,0 days 00:00:29.329000,0 days 02:12:21.109000,0 days 02:12:50.260000,0 days 02:13:19.589000,291.0,306.0,297.0,311.0,False
708,0 days 02:14:52.341000,1,0 days 00:01:32.848000,44,1,NaT,NaT,0 days 00:00:33.922000,0 days 00:00:29.333000,0 days 00:00:29.593000,0 days 02:13:53.511000,0 days 02:14:22.844000,0 days 02:14:52.437000,292.0,306.0,298.0,312.0,False
709,0 days 02:16:25.309000,1,0 days 00:01:32.968000,45,1,NaT,NaT,0 days 00:00:34.195000,0 days 00:00:29.328000,0 days 00:00:29.445000,0 days 02:15:26.632000,0 days 02:15:55.960000,0 days 02:16:25.405000,290.0,309.0,299.0,315.0,False
710,0 days 02:17:58.457000,1,0 days 00:01:33.148000,46,1,NaT,NaT,0 days 00:00:34.300000,0 days 00:00:29.362000,0 days 00:00:29.486000,0 days 02:16:59.705000,0 days 02:17:29.067000,0 days 02:17:58.553000,291.0,307.0,299.0,313.0,False
711,0 days 02:19:31.695000,1,0 days 00:01:33.238000,47,1,NaT,NaT,0 days 00:00:34.414000,0 days 00:00:29.397000,0 days 00:00:29.427000,0 days 02:18:32.967000,0 days 02:19:02.364000,0 days 02:19:31.791000,290.0,309.0,298.0,314.0,False
712,0 days 02:21:05.302000,1,0 days 00:01:33.607000,48,1,NaT,NaT,0 days 00:00:34.375000,0 days 00:00:29.582000,0 days 00:00:29.650000,0 days 02:20:06.166000,0 days 02:20:35.748000,0 days 02:21:05.398000,NaN,306.0,299.0,315.0,False
713,0 days 02:22:39.137000,1,0 days 00:01:33.835000,49,1,NaT,NaT,0 days 00:00:34.363000,0 days 00:00:29.448000,0 days 00:00:30.024000,0 days 02:21:39.761000,0 days 02:22:09.209000,0 days 02:22:39.233000,291.0,305.0,299.0,299.0,False
714,0 days 02:24:11.043000,1,0 days 00:01:31.906000,50,1,NaT,NaT,0 days 00:00:33.543000,0 days 00:00:29.045000,0 days 00:00:29.318000,0 days 02:23:12.776000,0 days 02:23:41.821000,0 days 02:24:11.139000,292.0,310.0,299.0,316.0,True

In [12]:
#data[1].info()
print(data[1].columns)  

data[1]


# show me the keys of the second element

# print(data[1].columns)


# show me the info just for driver '44'
data_44 = data[1].loc[data[1]['Driver'] == '1']
data_44

Index(['Time', 'Driver', 'Position', 'GapToLeader', 'IntervalToPositionAhead'], dtype='object')

,Time,Driver,Position,GapToLeader,IntervalToPositionAhead
15587,0 days 00:00:05.685000,1,15,NaN,NaN
15588,0 days 01:02:56.710000,1,15,+2.207,NaN
15589,0 days 01:02:59.882000,1,15,+2.005,+0.003
15590,0 days 01:03:04.194000,1,15,+3.413,+0.180
15591,0 days 01:03:09.100000,1,15,+3.625,+0.148
...,...,...,...,...,...
16836,0 days 02:24:00.294000,1,2,+5.593,+5.593
16837,0 days 02:24:04.059000,1,2,+5.447,+5.447
16838,0 days 02:24:05.513000,1,2,+5.426,+5.426
16839,0 days 02:24:08.497000,1,2,+5.410,+5.410
16840,0 days 02:24:11.137000,1,2,+5.355,+5.355

In [9]:
print("\n=== Element 2 (first few entries) ===")
pprint.pprint(data[2][:5])

=== Element 2 (first few entries) ===
[datetime.timedelta(0), datetime.timedelta(days=1), datetime.timedelta(days=1)]

# Driver info 

Contains name , surname , team , ecc . Not useful

In [10]:
import pprint

fpath = os.path.join(path_to_race, "driver_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datad = d["data"]  # the real stuff
print(type(datad))

print(len(datad))

for i, el in enumerate(datad):
    print(f"Index {i}: {type(el)}")

<class 'collections.defaultdict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [11]:
keysd = list(datad.keys())
print(keysd)

datadriver = pd.DataFrame(datad)
datadriver

['55', '1', '16', '63', '11', '23', '81', '44', '4', '14', '22', '40', '27', '77', '2', '24', '10', '31', '20', '18']

,55,1,16,63,11,23,81,44,4,14,22,40,27,77,2,24,10,31,20,18
RacingNumber,55,1,16,63,11,23,81,44,4,14,22,40,27,77,2,24,10,31,20,18
BroadcastName,C SAINZ,M VERSTAPPEN,C LECLERC,G RUSSELL,S PEREZ,A ALBON,O PIASTRI,L HAMILTON,L NORRIS,F ALONSO,Y TSUNODA,L LAWSON,N HULKENBERG,V BOTTAS,L SARGEANT,G ZHOU,P GASLY,E OCON,K MAGNUSSEN,L STROLL
FullName,Carlos SAINZ,Max VERSTAPPEN,Charles LECLERC,George RUSSELL,Sergio PEREZ,Alexander ALBON,Oscar PIASTRI,Lewis HAMILTON,Lando NORRIS,Fernando ALONSO,Yuki TSUNODA,Liam LAWSON,Nico HULKENBERG,Valtteri BOTTAS,Logan SARGEANT,ZHOU Guanyu,Pierre GASLY,Esteban OCON,Kevin MAGNUSSEN,Lance STROLL
Tla,SAI,VER,LEC,RUS,PER,ALB,PIA,HAM,NOR,ALO,TSU,LAW,HUL,BOT,SAR,ZHO,GAS,OCO,MAG,STR
Line,3,1,4,5,2,7,12,6,8,9,20,11,17,10,13,14,15,19,18,16
TeamName,Ferrari,Red Bull Racing,Ferrari,Mercedes,Red Bull Racing,Williams,McLaren,Mercedes,McLaren,Aston Martin,AlphaTauri,AlphaTauri,Haas F1 Team,Alfa Romeo,Williams,Alfa Romeo,Alpine,Alpine,Haas F1 Team,Aston Martin
TeamColour,F91536,3671C6,F91536,6CD3BF,3671C6,37BEDD,F58020,6CD3BF,F58020,358C75,5E8FAA,5E8FAA,B6BABD,C92D4B,37BEDD,C92D4B,2293D1,2293D1,B6BABD,358C75
FirstName,Carlos,Max,Charles,George,Sergio,Alexander,Oscar,Lewis,Lando,Fernando,Yuki,Liam,Nico,Valtteri,Logan,Guanyu,Pierre,Esteban,Kevin,Lance
LastName,Sainz,Verstappen,Leclerc,Russell,Perez,Albon,Piastri,Hamilton,Norris,Alonso,Tsunoda,Lawson,Hulkenberg,Bottas,Sargeant,Zhou,Gasly,Ocon,Magnussen,Stroll
Reference,CARSAI01,MAXVER01,CHALEC01,GEORUS01,SERPER01,ALEALB01,OSCPIA01,LEWHAM01,LANNOR01,FERALO01,YUKTSU01,LIALAW01,NICHUL01,VALBOT01,LOGSAR01,GUAZHO01,PIEGAS01,ESTOCO01,KEVMAG01,LANSTR01
CountryCode,ESP,NED,MON,GBR,MEX,THA,AUS,GBR,GBR,ESP,JPN,NZL,GER,FIN,USA,CHN,FRA,FRA,DEN,CAN
HeadshotUrl,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,NaN,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...,https://www.formula1.com/content/dam/fom-websi...

# Lap Count Datas

Two maindataframe , the first one has 940 rows and 18 colums : (see below)

The second one has 22500 rows and 5 colums : (see below)

In [12]:
import pprint

fpath = os.path.join(path_to_race, "lap_count.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataaa = d["data"]  # the real stuff
print(type(dataaa))

print(len(dataaa))

for i, el in enumerate(dataaa):
    print(f"Index {i}: {type(el)}")

pprint.pprint(list(dataaa.items())[:5])

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
[('Time',
  [datetime.timedelta(seconds=4, microseconds=15000),
   datetime.timedelta(seconds=3802, microseconds=567000),
   datetime.timedelta(seconds=4411, microseconds=732000),
   datetime.timedelta(seconds=5028, microseconds=990000),
   datetime.timedelta(seconds=5115, microseconds=68000),
   datetime.timedelta(seconds=5201, microseconds=4000),
   datetime.timedelta(seconds=5287, microseconds=50000),
   datetime.timedelta(seconds=5373, microseconds=549000),
   datetime.timedelta(seconds=5460, microseconds=79000),
   datetime.timedelta(seconds=5546, microseconds=453000),
   datetime.timedelta(seconds=5632, microseconds=703000),
   datetime.timedelta(seconds=5719, microseconds=155000),
   datetime.timedelta(seconds=5805, microseconds=669000),
   datetime.timedelta(seconds=5892, microseconds=356000),
   datetime.timedelta(seconds=5978, microseconds=746000),
   datetime.timedelta(seconds=6065, microseconds=666000),
   datetime.timedelta(seconds=6152, microseconds=619000),
   datetime.timedelta(seconds=6239, microseconds=868000),
   datetime.timedelta(seconds=6326, microseconds=789000),
   datetime.timedelta(seconds=6413, microseconds=319000),
   datetime.timedelta(seconds=6499, microseconds=552000),
   datetime.timedelta(seconds=6586, microseconds=4000),
   datetime.timedelta(seconds=6676, microseconds=878000),
   datetime.timedelta(seconds=6769, microseconds=971000),
   datetime.timedelta(seconds=6864, microseconds=954000),
   datetime.timedelta(seconds=6953, microseconds=516000),
   datetime.timedelta(seconds=7040, microseconds=796000),
   datetime.timedelta(seconds=7126, microseconds=826000),
   datetime.timedelta(seconds=7212, microseconds=591000),
   datetime.timedelta(seconds=7298, microseconds=200000),
   datetime.timedelta(seconds=7383, microseconds=558000),
   datetime.timedelta(seconds=7468, microseconds=995000),
   datetime.timedelta(seconds=7554, microseconds=415000),
   datetime.timedelta(seconds=7639, microseconds=993000),
   datetime.timedelta(seconds=7725, microseconds=335000),
   datetime.timedelta(seconds=7810, microseconds=582000),
   datetime.timedelta(seconds=7896, microseconds=240000),
   datetime.timedelta(seconds=7982, microseconds=51000),
   datetime.timedelta(seconds=8067, microseconds=644000),
   datetime.timedelta(seconds=8153, microseconds=362000),
   datetime.timedelta(seconds=8238, microseconds=923000),
   datetime.timedelta(seconds=8324, microseconds=422000),
   datetime.timedelta(seconds=8410, microseconds=328000),
   datetime.timedelta(seconds=8496, microseconds=92000),
   datetime.timedelta(seconds=8582, microseconds=13000),
   datetime.timedelta(seconds=8667, microseconds=997000),
   datetime.timedelta(seconds=8753, microseconds=746000),
   datetime.timedelta(seconds=8839, microseconds=729000),
   datetime.timedelta(seconds=8925, microseconds=838000),
   datetime.timedelta(seconds=9011, microseconds=977000),
   datetime.timedelta(seconds=9099, microseconds=211000),
   datetime.timedelta(seconds=9187, microseconds=100000),
   datetime.timedelta(seconds=9275, microseconds=521000)]),
 ('TotalLaps',
  [53,
   52,
   51,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None]),
 ('CurrentLap',
  [1,
   None,
   None,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51])]

In [13]:
# Show all keys
print(dataaa.keys())

# Time
print("\n--- TIME ---")
for t in dataaa["Time"][:10]:  # print first 10
    print(t)

# TotalLaps
print("\n--- TOTAL LAPS ---")
for tl in dataaa["TotalLaps"][:10]:
    print(tl)

# CurrentLap
print("\n--- CURRENT LAP ---")
for cl in dataaa["CurrentLap"][:10]:
    print(cl)

dict_keys(['Time', 'TotalLaps', 'CurrentLap'])

--- TIME ---
0:00:04.015000
1:03:22.567000
1:13:31.732000
1:23:48.990000
1:25:15.068000
1:26:41.004000
1:28:07.050000
1:29:33.549000
1:31:00.079000
1:32:26.453000

--- TOTAL LAPS ---
53
52
51
None
None
None
None
None
None
None

--- CURRENT LAP ---
1
None
None
2
3
4
5
6
7
8

In [14]:
# import fastf1 as f1
# import pandas as pd

# f1.Cache.enable_cache("/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache")

# session = f1.get_session(2024, "Monza", "R")  # example
# session.load()

# # Per-driver lap table
# laps = session.laps  # columns: Driver, LapNumber, LapStartTime, LapTime, etc.

# # Example: one driverâ€™s lap timeline as a DataFrame
# drv = "LEC"  # change as needed
# df_driver = (laps.pick_drivers(drv)
#                  .loc[:, ["LapNumber","LapStartTime","LapTime"]]
#                  .sort_values("LapNumber"))

# # If you want a time series like your pickle (elapsed time vs lap number):
# driver_progress = df_driver.rename(columns={"LapStartTime":"Time",
#                                             "LapNumber":"CurrentLap"})
# driver_progress["Time"] = pd.to_timedelta(driver_progress["Time"])
# driver_progress["TotalLaps"] = laps["LapNumber"].max()  # crude global total

# # Now you have a per-driver â€œtwo DataFramesâ€ view:
# df_session = pd.DataFrame(d["data"])           # session-level (your pickle)
# df_driver_view = driver_progress               # driver-level
# print(df_session)
# print(df_driver_view)

# Position Data

Contains for every driver more or less 20000 rows with 7 colums: Time | Date | Status ( offtrack/on) | x | y | z | pos

In [15]:
import pprint

fpath = os.path.join(path_to_race, "position_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataa = d["data"]  # the real stuff
print(type(dataa))

print(len(dataa))

for i, el in enumerate(dataa):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [16]:
keys = list(dataa.keys())
print(keys)

['1', '2', '4', '10', '11', '14', '16', '18', '20', '22', '23', '24', '27', '31', '40', '44', '55', '63', '77', '81']

In [17]:
key = keys[18]  
driver_data = dataa[key]

print("Type:", type(driver_data))

if hasattr(driver_data, "head"):
    # It's a DataFrame
    display(driver_data)
elif isinstance(driver_data, dict):
    # Nested dict
    print("Subkeys:", list(driver_data.keys())[:10])
    pprint.pprint(driver_data[list(driver_data.keys())[0]])
else:
    # Some other type (list, array)
    pprint.pprint(driver_data)

Type: <class 'pandas.core.frame.DataFrame'>

,Time,Date,Status,X,Y,Z,Source
0,0 days 00:00:04.248000,2023-09-03 12:01:04.412547,OnTrack,0,0,0,pos
1,0 days 00:00:04.248000,2023-09-03 12:01:04.672507,OnTrack,0,0,0,pos
2,0 days 00:00:04.248000,2023-09-03 12:01:04.992459,OnTrack,0,0,0,pos
3,0 days 00:00:04.248000,2023-09-03 12:01:05.292413,OnTrack,0,0,0,pos
4,0 days 00:00:05.188000,2023-09-03 12:01:05.352404,OnTrack,0,0,0,pos
...,...,...,...,...,...,...,...
37325,0 days 02:43:20.296000,2023-09-03 14:44:20.600570,OnTrack,-1273,-1151,1865,pos
37326,0 days 02:43:20.296000,2023-09-03 14:44:20.800540,OnTrack,-1273,-1151,1865,pos
37327,0 days 02:43:20.296000,2023-09-03 14:44:21.120491,OnTrack,-1273,-1151,1865,pos
37328,0 days 02:43:20.296000,2023-09-03 14:44:21.340458,OnTrack,-1273,-1151,1865,pos
37329,0 days 02:43:20.456000,2023-09-03 14:44:21.500433,OnTrack,-1273,-1151,1865,pos

# Session Info

In [18]:
import pprint

fpath = os.path.join(path_to_race, "session_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
9
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>

In [19]:
keys = list(data.keys())
print(keys)

data = pd.DataFrame(data)
data

['Meeting', 'ArchiveStatus', 'Key', 'Type', 'Name', 'StartDate', 'EndDate', 'GmtOffset', 'Path']

,Meeting,ArchiveStatus,Key,Type,Name,StartDate,EndDate,GmtOffset,Path
Key,1218,NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
Name,Italian Grand Prix,NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
OfficialName,FORMULA 1 PIRELLI GRAN PREMIO Dâ€™ITALIA 2023,NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
Location,Monza,NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
Country,"{'Key': 13, 'Code': 'ITA', 'Name': 'Italy'}",NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
Circuit,"{'Key': 39, 'ShortName': 'Monza'}",NaN,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...
Status,NaN,Generating,9157,Race,Race,2023-09-03 15:00:00,2023-09-03 17:00:00,0 days 02:00:00,2023/2023-09-03_Italian_Grand_Prix/2023-09-03_...

# Session Status Data

In [20]:
import pprint

fpath = os.path.join(path_to_race, "session_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataiii= d["data"]  # the real stuff
print(type(dataiii))

print(len(dataiii))

for i, el in enumerate(dataiii):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
2
Index 0: <class 'str'>
Index 1: <class 'str'>

In [21]:
keys = list(dataiii.keys())
print(keys)

aa = pd.DataFrame(dataiii)
aa

['Time', 'Status']

                    Time     Status
0 0 days 00:00:05.422000   Inactive
1 0 days 01:22:21.726000    Started
2 0 days 02:42:28.906000   Finished
3 0 days 02:43:20.578000  Finalised
4 0 days 02:43:21.312000       Ends

# Timing app data

In [22]:
import pprint

fpath = os.path.join(path_to_race, "timing_app_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datas = d["data"]  
print(type(datas))

print(len(datas))

for i, el in enumerate(datas):
    print(f"Index {i}: {type(el)}")

<class 'pandas.core.frame.DataFrame'>
1171
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>

In [23]:
chiavi = list(datas.keys())
print(chiavi)

['LapNumber', 'Driver', 'LapTime', 'Stint', 'TotalLaps', 'Compound', 'New', 'TyresNotChanged', 'Time', 'LapFlags', 'LapCountTime', 'StartLaps', 'Outlap']

In [24]:
import pandas as pd

df = pd.DataFrame(datas)
df


#print just the datas for driver '44'
df_44 = df.loc[df['Driver'] == '10']
df_44

,LapNumber,Driver,LapTime,Stint,TotalLaps,Compound,New,TyresNotChanged,Time,LapFlags,LapCountTime,StartLaps,Outlap
2,NaN,10,NaT,0,0.0,MEDIUM,True,0,0 days 00:56:04.806000,0.0,None,0.0,None
30,NaN,10,NaT,0,1.0,None,None,None,0 days 01:24:00.006000,NaN,None,NaN,None
65,NaN,10,NaT,0,2.0,None,None,None,0 days 01:25:29.974000,NaN,None,NaN,None
71,2.0,10,0 days 00:01:28.696000,0,NaN,None,None,None,0 days 01:25:30.036000,1.0,None,NaN,None
104,3.0,10,0 days 00:01:27.916000,0,NaN,None,None,None,0 days 01:26:54.613000,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,NaN,10,NaT,2,14.0,None,None,None,0 days 02:28:45.416000,NaN,None,NaN,None
1102,NaN,10,NaT,2,15.0,None,None,None,0 days 02:30:10.430000,NaN,None,NaN,None
1122,NaN,10,NaT,2,16.0,None,None,None,0 days 02:31:40.445000,NaN,None,NaN,None
1138,NaN,10,NaT,2,17.0,None,None,None,0 days 02:33:05.444000,NaN,None,NaN,None
1155,NaN,10,NaT,2,18.0,None,None,None,0 days 02:34:30.474000,NaN,None,NaN,None

# Track Status Data

In [25]:
import pprint

fpath = os.path.join(path_to_race, "track_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datass = d["data"]  
print(type(datass))

print(len(datass))

for i, el in enumerate(datass):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>

In [26]:
# print the keys of the datass dictionary
keyss = list(datass.keys())
print(keyss)

['Time', 'Status', 'Message']

In [27]:
import pprint

for k, v in datass.items():
    print(f"\n=== {k} ===")
    print("Type:", type(v))
    print("Length:", len(v))
    pprint.pprint(v[:10])  

df_track_status = pd.DataFrame(datass)
df_track_status = df_track_status.sort_values("Time").reset_index(drop=True)

display(df_track_status)

=== Time ===
Type: <class 'list'>
Length: 3
[datetime.timedelta(seconds=112, microseconds=215000),
 datetime.timedelta(seconds=3758, microseconds=176000),
 datetime.timedelta(seconds=4320, microseconds=217000)]

=== Status ===
Type: <class 'list'>
Length: 3
['1', '2', '1']

=== Message ===
Type: <class 'list'>
Length: 3
['AllClear', 'Yellow', 'AllClear']

                    Time Status   Message
0 0 days 00:01:52.215000      1  AllClear
1 0 days 01:02:38.176000      2    Yellow
2 0 days 01:12:00.217000      1  AllClear

# weather data

In [9]:
import pprint

ffpath = os.path.join(path_to_race, "weather_data.ff1pkl")

with open(ffpath, "rb") as f:
    d = pickle.load(f)

datatempo = d["data"]  
print(type(datatempo))

print(len(datatempo))

for i, el in enumerate(datatempo):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
8
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>

In [10]:
tempo = list(datatempo.keys())
print(tempo)

# printing a dataframe of the weather data

df_weather = pd.DataFrame(datatempo)
display(df_weather)

['Time', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp', 'WindDirection', 'WindSpeed']

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:36.015000,28.5,45.0,1001.0,False,43.2,302,1.8
1,0 days 00:01:36.014000,28.6,45.0,1001.2,False,43.3,287,2.0
2,0 days 00:02:36.014000,28.5,45.0,1001.0,False,43.3,269,0.6
3,0 days 00:03:36.013000,28.5,45.0,1001.0,False,43.3,154,0.8
4,0 days 00:04:36.012000,28.4,46.0,1001.0,False,42.8,274,0.8
...,...,...,...,...,...,...,...,...
151,0 days 02:31:36.508000,30.0,42.0,1000.2,False,41.2,157,1.2
152,0 days 02:32:36.523000,30.0,41.0,1000.2,False,41.0,179,1.2
153,0 days 02:33:36.537000,30.0,41.0,1000.2,False,40.8,152,1.6
154,0 days 02:34:36.537000,30.0,41.0,1000.2,False,40.8,161,1.7
155,0 days 02:42:36.609000,29.9,42.0,1000.2,False,39.3,260,1.1

In [11]:

print(f"Weather dataset shape: {df_weather.shape}")
print(f"\nMerged Time column (first 5):")


print(f"\nWeather Time column (first 5):")
print(df_weather['Time'].head())
print(f"Type: {type(df_weather['Time'].iloc[0])}")

Weather dataset shape: (156, 8)

Merged Time column (first 5):

Weather Time column (first 5):
0   0 days 00:00:36.015000
1   0 days 00:01:36.014000
2   0 days 00:02:36.014000
3   0 days 00:03:36.013000
4   0 days 00:04:36.012000
Name: Time, dtype: timedelta64[ns]
Type: <class 'pandas._libs.tslibs.timedeltas.Timedelta'>