
<h1><center> 

This notebook explore for a random year and a random race the cached data


</center></h1>

In [1]:
import os
import pickle

# Use relative path from project root
base_path = "cache"

print(os.listdir(base_path))

['2025', '2024', '2023', '.DS_Store', 'fastf1_http_cache.sqlite']

In [2]:
year = "2024"
gp = "2024-09-01_Italian_Grand_Prix"
race = "2024-09-01_Race"

path_to_race = os.path.join(base_path, year, gp, race)
print(path_to_race)
print(os.path.exists(path_to_race))

cache/2024/2024-09-01_Italian_Grand_Prix/2024-09-01_Race
True

In [4]:

data_summary = {}

for f in os.listdir(path_to_race):
    if f.endswith(".ff1pkl"):
        fpath = os.path.join(path_to_race, f)
        with open(fpath, "rb") as file:
            data = pickle.load(file)
        data_summary[f] = type(data)

for k, v in data_summary.items():
    print(f"{k}: {v}")

car_data.ff1pkl: <class 'dict'>
weather_data.ff1pkl: <class 'dict'>
driver_info.ff1pkl: <class 'dict'>
position_data.ff1pkl: <class 'dict'>
lap_count.ff1pkl: <class 'dict'>
session_status_data.ff1pkl: <class 'dict'>
race_control_messages.ff1pkl: <class 'dict'>
timing_app_data.ff1pkl: <class 'dict'>
track_status_data.ff1pkl: <class 'dict'>
session_info.ff1pkl: <class 'dict'>
_extended_timing_data.ff1pkl: <class 'dict'>


<h2><center> Inspecting the car_dat.ff1pkl </center></h2>

<center> 

We can see that we have 26000 rows and 9 colums: 
Time | Date | Rpm | Speed | nGear | Throttle | Brake | DRS | source  </center>

In [5]:
import pprint

fpath = os.path.join(path_to_race, "car_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))
pprint.pprint(list(data.items())[:5])

<class 'dict'>
[('1',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:01:13.215000 2024-09-01 12:08:56.653398     0      0      0
1     0 days 00:01:13.215000 2024-09-01 12:08:56.893362     0      0      0
2     0 days 00:01:13.215000 2024-09-01 12:08:57.133327     0      0      0
3     0 days 00:01:14.375000 2024-09-01 12:08:57.413285     0      0      0
4     0 days 00:01:14.375000 2024-09-01 12:08:57.653249     0      0      0
...                      ...                        ...   ...    ...    ...
29213 0 days 02:12:49.717000 2024-09-01 14:20:33.395696  6805    155      6
29214 0 days 02:12:49.717000 2024-09-01 14:20:33.635660  6701    154      6
29215 0 days 02:12:50.518000 2024-09-01 14:20:33.955613  6596    150      6
29216 0 days 02:12:50.518000 2024-09-01 14:20:34.156583  6557    148      6
29217 0 days 02:12:50.518000 2024-09-01 14:20:34.436541  6404    147      6

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
29213         0  False    8    car
29214         0  False    8    car
29215         0  False    8    car
29216         0  False    8    car
29217         0  False    8    car

[29218 rows x 9 columns]),
 ('3',
                          Time                       Date    RPM  Speed  nGear  \
0     0 days 00:01:13.215000 2024-09-01 12:08:56.653398      0      0      0
1     0 days 00:01:13.215000 2024-09-01 12:08:56.893362      0      0      0
2     0 days 00:01:13.215000 2024-09-01 12:08:57.133327      0      0      0
3     0 days 00:01:14.375000 2024-09-01 12:08:57.413285      0      0      0
4     0 days 00:01:14.375000 2024-09-01 12:08:57.653249      0      0      0
...                      ...                        ...    ...    ...    ...
29213 0 days 02:12:49.717000 2024-09-01 14:20:33.395696   9434    107      2
29214 0 days 02:12:49.717000 2024-09-01 14:20:33.635660   9562    109      2
29215 0 days 02:12:50.518000 2024-09-01 14:20:33.955613   9697    111      2
29216 0 days 02:12:50.518000 2024-09-01 14:20:34.156583   9759    112      2
29217 0 days 02:12:50.518000 2024-09-01 14:20:34.436541  10060    114      2

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
29213        34  False    0    car
29214        36  False    0    car
29215        39  False    0    car
29216        41  False    0    car
29217        43  False    0    car

[29218 rows x 9 columns]),
 ('4',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:01:13.215000 2024-09-01 12:08:56.653398     0      0      0
1     0 days 00:01:13.215000 2024-09-01 12:08:56.893362     0      0      0
2     0 days 00:01:13.215000 2024-09-01 12:08:57.133327     0      0      0
3     0 days 00:01:14.375000 2024-09-01 12:08:57.413285     0      0      0
4     0 days 00:01:14.375000 2024-09-01 12:08:57.653249     0      0      0
...                      ...                        ...   ...    ...    ...
29213 0 days 02:12:49.717000 2024-09-01 14:20:33.395696  8605    143      4
29214 0 days 02:12:49.717000 2024-09-01 14:20:33.635660  9271    142      4
29215 0 days 02:12:50.518000 2024-09-01 14:20:33.955613  9776    138      3
29216 0 days 02:12:50.518000 2024-09-01 14:20:34.156583  9517    136      3
29217 0 days 02:12:50.518000 2024-09-01 14:20:34.436541  9368    133      3

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
29213         0  False    0    car
29214         0   True    0    car
29215         0   True    0    car
29216         0   True    0    car
29217         0   True    0    car

[29218 rows x 9 columns]),
 ('10',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:01:13.215000 2024-09-01 12:08:56.653398     0      0      0
1     0 days 00:01:13.215000 2024-09-01 12:08:56.893362     0      0      0
2     0 days 00:01:13.215000 2024-09-01 12:08:57.133327     0      0      0
3     0 days 00:01:14.375000 2024-09-01 12:08:57.413285     0      0      0
4     0 days 00:01:14.375000 2024-09-01 12:08:57.653249     0      0      0
...                      ...                        ...   ...    ...    ...
29213 0 days 02:12:49.717000 2024-09-01 14:20:33.395696  8979    150      4
29214 0 days 02:12:49.717000 2024-09-01 14:20:33.635660  9041    150      4
29215 0 days 02:12:50.518000 2024-09-01 14:20:33.955613  9028    149      4
29216 0 days 02:12:50.518000 2024-09-01 14:20:34.156583  9010    149      4
29217 0 days 02:12:50.518000 2024-09-01 14:20:34.436541  9058    149      4

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
29213        23  False    0    car
29214        23  False    0    car
29215        22  False    0    car
29216        23  False    0    car
29217        21  False    0    car

[29218 rows x 9 columns]),
 ('11',
                          Time                       Date   RPM  Speed  nGear  \
0     0 days 00:01:13.215000 2024-09-01 12:08:56.653398     0      0      0
1     0 days 00:01:13.215000 2024-09-01 12:08:56.893362     0      0      0
2     0 days 00:01:13.215000 2024-09-01 12:08:57.133327     0      0      0
3     0 days 00:01:14.375000 2024-09-01 12:08:57.413285     0      0      0
4     0 days 00:01:14.375000 2024-09-01 12:08:57.653249     0      0      0
...                      ...                        ...   ...    ...    ...
29213 0 days 02:12:49.717000 2024-09-01 14:20:33.395696  7485    149      5
29214 0 days 02:12:49.717000 2024-09-01 14:20:33.635660  7457    149      5
29215 0 days 02:12:50.518000 2024-09-01 14:20:33.955613  7563    149      5
29216 0 days 02:12:50.518000 2024-09-01 14:20:34.156583  7383    148      5
29217 0 days 02:12:50.518000 2024-09-01 14:20:34.436541  7443    148      5

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
29213        16  False    0    car
29214        16  False    0    car
29215        16  False    0    car
29216        16  False    0    car
29217        15  False    0    car

[29218 rows x 9 columns])]

In [6]:
import pandas as pd

print("Available drivers (car numbers):", list(data.keys()))

# Choose one driver, e.g. car number '44' or any in your output
driver_key = list(data.keys())[18]   # or '44' if it exists
df_driver = data[driver_key]

print(f"\nDriver {driver_key} telemetry:")
print("Shape:", df_driver.shape)
display(df_driver)

Available drivers (car numbers): ['1', '3', '4', '10', '11', '14', '16', '18', '20', '22', '23', '24', '27', '31', '43', '44', '55', '63', '77', '81']

Driver 77 telemetry:
Shape: (29218, 9)

,Time,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source
0,0 days 00:01:13.215000,2024-09-01 12:08:56.653398,0,0,0,0,False,0,car
1,0 days 00:01:13.215000,2024-09-01 12:08:56.893362,0,0,0,0,False,0,car
2,0 days 00:01:13.215000,2024-09-01 12:08:57.133327,0,0,0,0,False,0,car
3,0 days 00:01:14.375000,2024-09-01 12:08:57.413285,0,0,0,0,False,0,car
4,0 days 00:01:14.375000,2024-09-01 12:08:57.653249,0,0,0,0,False,0,car
...,...,...,...,...,...,...,...,...,...
29213,0 days 02:12:49.717000,2024-09-01 14:20:33.395696,6791,93,3,7,False,0,car
29214,0 days 02:12:49.717000,2024-09-01 14:20:33.635660,6863,92,3,7,False,0,car
29215,0 days 02:12:50.518000,2024-09-01 14:20:33.955613,6930,93,3,10,False,0,car
29216,0 days 02:12:50.518000,2024-09-01 14:20:34.156583,6930,93,3,10,False,0,car
29217,0 days 02:12:50.518000,2024-09-01 14:20:34.436541,6878,93,3,12,False,0,car


<h2><center> Inspecting the car_dat.ff1pkl </center></h2>



<center> 

We can see that we havw a tuple, that stores 2 dataframe and one list 

In the first dataframe we have 1000 row with 17 colums

In the second one we have 22000 entries with 5 colums 

and the 3 one which is a tiny list is typically bookkeeping offsets FastF1 uses to align timing feeds across midnight/day boundaries or to normalize different data sources.  </center>

In [7]:
import pprint

fpath = os.path.join(path_to_race, "_extended_timing_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'tuple'>
3
Index 0: <class 'pandas.core.frame.DataFrame'>
Index 1: <class 'pandas.core.frame.DataFrame'>
Index 2: <class 'list'>

In [12]:
#data[0].info()

# just for driver 44

data_44 = data[0].loc[data[0]['Driver'] == '1']
data_44

,Time,Driver,LapTime,NumberOfLaps,NumberOfPitStops,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest
318,0 days 00:57:21.106000,1,NaT,1,0,0 days 00:20:35.483000,NaT,NaT,0 days 00:00:31.144000,0 days 00:00:28.856000,NaT,0 days 00:56:52.426000,0 days 00:57:21.221000,327.0,316.0,312.0,298.0,False
319,0 days 00:58:47.276000,1,0 days 00:01:26.170000,2,0,NaT,NaT,0 days 00:00:28.048000,0 days 00:00:29.474000,0 days 00:00:28.648000,0 days 00:57:49.171000,0 days 00:58:18.645000,0 days 00:58:47.293000,315.0,334.0,311.0,316.0,True
320,0 days 01:00:13.131000,1,0 days 00:01:25.855000,3,0,NaT,NaT,0 days 00:00:27.731000,0 days 00:00:29.496000,0 days 00:00:28.628000,0 days 00:59:15.024000,0 days 00:59:44.520000,0 days 01:00:13.148000,314.0,332.0,312.0,321.0,True
321,0 days 01:01:38.764000,1,0 days 00:01:25.633000,4,0,NaT,NaT,0 days 00:00:27.884000,0 days 00:00:29.335000,0 days 00:00:28.414000,0 days 01:00:41.032000,0 days 01:01:10.367000,0 days 01:01:38.781000,313.0,318.0,312.0,317.0,True
322,0 days 01:03:03.982000,1,0 days 00:01:25.218000,5,0,NaT,NaT,0 days 00:00:27.721000,0 days 00:00:29.220000,0 days 00:00:28.277000,0 days 01:02:06.502000,0 days 01:02:35.722000,0 days 01:03:03.999000,NaN,318.0,312.0,NaN,True
323,0 days 01:04:29.078000,1,0 days 00:01:25.096000,6,0,NaT,NaT,0 days 00:00:27.832000,0 days 00:00:29.054000,0 days 00:00:28.210000,0 days 01:03:31.831000,0 days 01:04:00.885000,0 days 01:04:29.095000,NaN,318.0,312.0,316.0,True
324,0 days 01:05:54.120000,1,0 days 00:01:25.042000,7,0,NaT,NaT,0 days 00:00:27.771000,0 days 00:00:28.994000,0 days 00:00:28.277000,0 days 01:04:56.866000,0 days 01:05:25.860000,0 days 01:05:54.137000,NaN,319.0,311.0,314.0,True
325,0 days 01:07:19.038000,1,0 days 00:01:24.918000,8,0,NaT,NaT,0 days 00:00:27.712000,0 days 00:00:29.036000,0 days 00:00:28.170000,0 days 01:06:21.849000,0 days 01:06:50.885000,0 days 01:07:19.055000,NaN,317.0,312.0,319.0,True
326,0 days 01:08:44.088000,1,0 days 00:01:25.050000,9,0,NaT,NaT,0 days 00:00:27.909000,0 days 00:00:28.956000,0 days 00:00:28.185000,0 days 01:07:46.964000,0 days 01:08:15.920000,0 days 01:08:44.105000,312.0,317.0,312.0,315.0,False
327,0 days 01:10:09.052000,1,0 days 00:01:24.964000,10,0,NaT,NaT,0 days 00:00:27.820000,0 days 00:00:29.008000,0 days 00:00:28.136000,0 days 01:09:11.925000,0 days 01:09:40.933000,0 days 01:10:09.069000,310.0,317.0,312.0,318.0,False
328,0 days 01:11:34.030000,1,0 days 00:01:24.978000,11,0,NaT,NaT,0 days 00:00:27.799000,0 days 00:00:28.990000,0 days 00:00:28.189000,0 days 01:10:36.868000,0 days 01:11:05.858000,0 days 01:11:34.047000,NaN,315.0,312.0,317.0,False
329,0 days 01:12:58.998000,1,0 days 00:01:24.968000,12,0,NaT,NaT,0 days 00:00:27.821000,0 days 00:00:28.994000,0 days 00:00:28.153000,0 days 01:12:01.868000,0 days 01:12:30.862000,0 days 01:12:59.015000,312.0,316.0,311.0,NaN,False
330,0 days 01:14:23.955000,1,0 days 00:01:24.957000,13,0,NaT,NaT,0 days 00:00:27.806000,0 days 00:00:28.950000,0 days 00:00:28.201000,0 days 01:13:26.821000,0 days 01:13:55.771000,0 days 01:14:23.972000,311.0,317.0,313.0,319.0,False
331,0 days 01:15:49.242000,1,0 days 00:01:25.287000,14,0,NaT,NaT,0 days 00:00:27.749000,0 days 00:00:29.246000,0 days 00:00:28.292000,0 days 01:14:51.721000,0 days 01:15:20.967000,0 days 01:15:49.259000,312.0,317.0,314.0,NaN,False
332,0 days 01:17:14.988000,1,0 days 00:01:25.746000,15,0,NaT,NaT,0 days 00:00:27.726000,0 days 00:00:29.288000,0 days 00:00:28.732000,0 days 01:16:16.985000,0 days 01:16:46.273000,0 days 01:17:15.005000,315.0,327.0,310.0,330.0,False
333,0 days 01:18:40.232000,1,0 days 00:01:25.244000,16,0,NaT,NaT,0 days 00:00:27.735000,0 days 00:00:29.177000,0 days 00:00:28.332000,0 days 01:17:42.740000,0 days 01:18:11.917000,0 days 01:18:40.249000,309.0,311.0,311.0,323.0,False
334,0 days 01:20:05.572000,1,0 days 00:01:25.340000,17,0,NaT,NaT,0 days 00:00:27.864000,0 days 00:00:29.212000,0 days 00:00:28.264000,0 days 01:19:08.113000,0 days 01:19:37.325000,0 days 01:20:05.589000,NaN,313.0,310.0,315.0,False
335,0 days 01:21:31.041000,1,0 days 00:01:25.469000,18,0,NaT,NaT,0 days 00:00:27.813000,0 days 00:00:29.236000,0 days 00:00:28.420000,0 days 01:20:33.402000,0 days 01:21:02.638000,0 days 01:21:31.058000,311.0,314.0,310.0,317.0,False
336,0 days 01:22:56.578000,1,0 days 00:01:25.537000,19,0,NaT,NaT,0 days 00:00:27.810000,0 days 00:00:29.369000,0 days 00:00:28.358000,0 days 01:21:58.868000,0 days 01:22:28.237000,0 days 01:22:56.595000,310.0,314.0,310.0,318.0,False
337,0 days 01:24:22.137000,1,0 days 00:01:25.559000,20,0,NaT,NaT,0 days 00:00:27.938000,0 days 00:00:29.183000,0 days 00:00:28.438000,0 days 01:23:24.533000,0 days 01:23:53.716000,0 days 01:24:22.154000,307.0,311.0,309.0,314.0,False
338,0 days 01:25:47.518000,1,0 days 00:01:25.381000,21,0,NaT,NaT,0 days 00:00:27.905000,0 days 00:00:29.100000,0 days 00:00:28.376000,0 days 01:24:50.059000,0 days 01:25:19.159000,0 days 01:25:47.535000,306.0,311.0,308.0,315.0,False
339,0 days 01:27:17.186000,1,0 days 00:01:29.668000,22,0,NaT,0 days 01:27:13.547000,0 days 00:00:28.025000,0 days 00:00:29.184000,0 days 00:00:32.459000,0 days 01:26:15.560000,0 days 01:26:44.744000,0 days 01:27:17.203000,307.0,311.0,NaN,NaN,False
340,0 days 01:29:05.025000,1,0 days 00:01:47.839000,23,1,0 days 01:27:41.632000,NaT,0 days 00:00:51.273000,0 days 00:00:28.653000,0 days 00:00:27.913000,0 days 01:28:08.476000,0 days 01:28:37.129000,0 days 01:29:05.042000,311.0,315.0,314.0,282.0,False
341,0 days 01:30:28.570000,1,0 days 00:01:23.545000,24,1,NaT,NaT,0 days 00:00:27.251000,0 days 00:00:28.532000,0 days 00:00:27.762000,0 days 01:29:32.293000,0 days 01:30:00.825000,0 days 01:30:28.587000,312.0,313.0,312.0,329.0,True
342,0 days 01:31:52.371000,1,0 days 00:01:23.801000,25,1,NaT,NaT,0 days 00:00:27.630000,0 days 00:00:28.498000,0 days 00:00:27.673000,0 days 01:30:56.217000,0 days 01:31:24.715000,0 days 01:31:52.388000,306.0,312.0,313.0,317.0,False
343,0 days 01:33:15.989000,1,0 days 00:01:23.618000,26,1,NaT,NaT,0 days 00:00:27.535000,0 days 00:00:28.475000,0 days 00:00:27.608000,0 days 01:32:19.923000,0 days 01:32:48.398000,0 days 01:33:16.006000,307.0,312.0,313.0,316.0,False
344,0 days 01:34:39.513000,1,0 days 00:01:23.524000,27,1,NaT,NaT,0 days 00:00:27.544000,0 days 00:00:28.388000,0 days 00:00:27.592000,0 days 01:33:43.550000,0 days 01:34:11.938000,0 days 01:34:39.530000,NaN,314.0,313.0,317.0,True
345,0 days 01:36:03.022000,1,0 days 00:01:23.509000,28,1,NaT,NaT,0 days 00:00:27.624000,0 days 00:00:28.316000,0 days 00:00:27.569000,0 days 01:35:07.154000,0 days 01:35:35.470000,0 days 01:36:03.039000,309.0,314.0,314.0,NaN,True
346,0 days 01:37:26.474000,1,0 days 00:01:23.452000,29,1,NaT,NaT,0 days 00:00:27.534000,0 days 00:00:28.472000,0 days 00:00:27.446000,0 days 01:36:30.573000,0 days 01:36:59.045000,0 days 01:37:26.491000,NaN,312.0,313.0,NaN,True
347,0 days 01:38:50.016000,1,0 days 00:01:23.542000,30,1,NaT,NaT,0 days 00:00:27.549000,0 days 00:00:28.392000,0 days 00:00:27.601000,0 days 01:37:54.040000,0 days 01:38:22.432000,0 days 01:38:50.033000,NaN,313.0,313.0,318.0,False
348,0 days 01:40:13.440000,1,0 days 00:01:23.424000,31,1,NaT,NaT,0 days 00:00:27.494000,0 days 00:00:28.388000,0 days 00:00:27.542000,0 days 01:39:17.527000,0 days 01:39:45.915000,0 days 01:40:13.457000,308.0,313.0,313.0,NaN,True
349,0 days 01:41:36.930000,1,0 days 00:01:23.490000,32,1,NaT,NaT,0 days 00:00:27.480000,0 days 00:00:28.364000,0 days 00:00:27.646000,0 days 01:40:40.937000,0 days 01:41:09.301000,0 days 01:41:36.947000,309.0,314.0,313.0,NaN,False
350,0 days 01:43:00.551000,1,0 days 00:01:23.621000,33,1,NaT,NaT,0 days 00:00:27.490000,0 days 00:00:28.590000,0 days 00:00:27.541000,0 days 01:42:04.437000,0 days 01:42:33.027000,0 days 01:43:00.568000,NaN,313.0,314.0,NaN,False
351,0 days 01:44:24.127000,1,0 days 00:01:23.576000,34,1,NaT,NaT,0 days 00:00:27.573000,0 days 00:00:28.473000,0 days 00:00:27.530000,0 days 01:43:28.141000,0 days 01:43:56.614000,0 days 01:44:24.144000,310.0,316.0,316.0,NaN,False
352,0 days 01:45:47.716000,1,0 days 00:01:23.589000,35,1,NaT,NaT,0 days 00:00:27.470000,0 days 00:00:28.491000,0 days 00:00:27.628000,0 days 01:44:51.614000,0 days 01:45:20.105000,0 days 01:45:47.733000,311.0,316.0,315.0,322.0,False
353,0 days 01:47:11.275000,1,0 days 00:01:23.559000,36,1,NaT,NaT,0 days 00:00:27.442000,0 days 00:00:28.466000,0 days 00:00:27.651000,0 days 01:46:15.175000,0 days 01:46:43.641000,0 days 01:47:11.292000,NaN,316.0,315.0,321.0,False
354,0 days 01:48:34.760000,1,0 days 00:01:23.485000,37,1,NaT,NaT,0 days 00:00:27.430000,0 days 00:00:28.508000,0 days 00:00:27.547000,0 days 01:47:38.722000,0 days 01:48:07.230000,0 days 01:48:34.777000,310.0,316.0,316.0,323.0,False
355,0 days 01:49:58.187000,1,0 days 00:01:23.427000,38,1,NaT,NaT,0 days 00:00:27.500000,0 days 00:00:28.381000,0 days 00:00:27.546000,0 days 01:49:02.277000,0 days 01:49:30.658000,0 days 01:49:58.204000,309.0,313.0,314.0,322.0,False
356,0 days 01:51:21.688000,1,0 days 00:01:23.501000,39,1,NaT,NaT,0 days 00:00:27.433000,0 days 00:00:28.441000,0 days 00:00:27.627000,0 days 01:50:25.637000,0 days 01:50:54.078000,0 days 01:51:21.705000,313.0,317.0,315.0,318.0,False
357,0 days 01:52:46.025000,1,0 days 00:01:24.337000,40,1,NaT,NaT,0 days 00:00:27.654000,0 days 00:00:28.924000,0 days 00:00:27.759000,0 days 01:51:49.359000,0 days 01:52:18.283000,0 days 01:52:46.042000,310.0,313.0,314.0,337.0,False
358,0 days 01:54:14.763000,1,0 days 00:01:28.738000,41,1,NaT,0 days 01:54:11.181000,0 days 00:00:27.581000,0 days 00:00:28.766000,0 days 00:00:32.391000,0 days 01:53:13.623000,0 days 01:53:42.389000,0 days 01:54:14.780000,311.0,323.0,NaN,338.0,False
359,0 days 01:55:58.853000,1,0 days 00:01:44.090000,42,2,0 days 01:54:35.133000,NaT,0 days 00:00:47.115000,0 days 00:00:29.109000,0 days 00:00:27.866000,0 days 01:55:01.895000,0 days 01:55:31.004000,0 days 01:55:58.870000,306.0,306.0,314.0,285.0,False
360,0 days 01:57:20.598000,1,0 days 00:01:21.745000,43,2,NaT,NaT,0 days 00:00:26.877000,0 days 00:00:27.614000,0 days 00:00:27.254000,0 days 01:56:25.747000,0 days 01:56:53.361000,0 days 01:57:20.615000,318.0,322.0,303.0,330.0,True
361,0 days 01:58:43.643000,1,0 days 00:01:23.045000,44,2,NaT,NaT,0 days 00:00:27.541000,0 days 00:00:28.129000,0 days 00:00:27.375000,0 days 01:57:48.156000,0 days 01:58:16.285000,0 days 01:58:43.660000,305.0,311.0,315.0,312.0,False
362,0 days 02:00:07.006000,1,0 days 00:01:23.363000,45,2,NaT,NaT,0 days 00:00:27.387000,0 days 00:00:28.389000,0 days 00:00:27.587000,0 days 01:59:11.047000,0 days 01:59:39.436000,0 days 02:00:07.023000,306.0,310.0,314.0,315.0,False
363,0 days 02:01:29.947000,1,0 days 00:01:22.941000,46,2,NaT,NaT,0 days 00:00:27.420000,0 days 00:00:28.126000,0 days 00:00:27.395000,0 days 02:00:34.443000,0 days 02:01:02.569000,0 days 02:01:29.964000,308.0,312.0,315.0,NaN,False
364,0 days 02:02:52.467000,1,0 days 00:01:22.520000,47,2,NaT,NaT,0 days 00:00:27.372000,0 days 00:00:27.933000,0 days 00:00:27.215000,0 days 02:01:57.336000,0 days 02:02:25.269000,0 days 02:02:52.484000,NaN,314.0,315.0,316.0,False
365,0 days 02:04:15.037000,1,0 days 00:01:22.570000,48,2,NaT,NaT,0 days 00:00:27.332000,0 days 00:00:28.011000,0 days 00:00:27.227000,0 days 02:03:19.816000,0 days 02:03:47.827000,0 days 02:04:15.054000,307.0,313.0,316.0,317.0,False
366,0 days 02:05:37.621000,1,0 days 00:01:22.584000,49,2,NaT,NaT,0 days 00:00:27.341000,0 days 00:00:27.980000,0 days 00:00:27.263000,0 days 02:04:42.395000,0 days 02:05:10.375000,0 days 02:05:37.638000,308.0,313.0,316.0,318.0,False
367,0 days 02:07:00.206000,1,0 days 00:01:22.585000,50,2,NaT,NaT,0 days 00:00:27.313000,0 days 00:00:28.095000,0 days 00:00:27.177000,0 days 02:06:04.951000,0 days 02:06:33.046000,0 days 02:07:00.223000,309.0,315.0,316.0,NaN,False
368,0 days 02:08:22.780000,1,0 days 00:01:22.574000,51,2,NaT,NaT,0 days 00:00:27.291000,0 days 00:00:28.043000,0 days 00:00:27.240000,0 days 02:07:27.514000,0 days 02:07:55.557000,0 days 02:08:22.797000,310.0,316.0,317.0,NaN,False
369,0 days 02:09:45.700000,1,0 days 00:01:22.920000,52,2,NaT,NaT,0 days 00:00:27.286000,0 days 00:00:28.412000,0 days 00:00:27.222000,0 days 02:08:50.083000,0 days 02:09:18.495000,0 days 02:09:45.717000,NaN,316.0,317.0,319.0,False
370,0 days 02:11:09.411000,1,0 days 00:01:23.711000,53,2,NaT,NaT,0 days 00:00:27.394000,0 days 00:00:28.522000,0 days 00:00:27.795000,0 days 02:10:13.111000,0 days 02:10:41.633000,0 days 02:11:09.428000,311.0,322.0,314.0,NaN,False

In [13]:
#data[1].info()
print(data[1].columns)  

data[1]


# show me the keys of the second element

# print(data[1].columns)


# show me the info just for driver '44'
data_44 = data[1].loc[data[1]['Driver'] == '1']
data_44

Index(['Time', 'Driver', 'Position', 'GapToLeader', 'IntervalToPositionAhead'], dtype='object')

,Time,Driver,Position,GapToLeader,IntervalToPositionAhead
5902,0 days 00:00:02.591000,1,7,NaN,NaN
5903,0 days 00:51:03.654000,1,7,+130.008,+77.500
5904,0 days 00:52:26.321000,1,7,+6.628,+2.197
5905,0 days 00:52:39.963000,1,7,+14.096,+2.893
5906,0 days 00:52:44.052000,1,7,+14.605,+2.352
...,...,...,...,...,...
6985,0 days 02:10:59.074000,1,6,+38.021,+14.867
6986,0 days 02:11:03.019000,1,6,+37.956,+15.061
6987,0 days 02:11:05.917000,1,6,+37.915,+15.097
6988,0 days 02:11:07.596000,1,6,+37.922,+15.111
6989,0 days 02:11:09.442000,1,6,+37.932,+15.112

In [9]:
print("\n=== Element 2 (first few entries) ===")
pprint.pprint(data[2][:5])

=== Element 2 (first few entries) ===
[datetime.timedelta(0), datetime.timedelta(days=1), datetime.timedelta(days=1)]

<h2><center> Driver info </center></h2>


Contains name , surname , team , ecc . Not useful

In [14]:
import pprint

fpath = os.path.join(path_to_race, "driver_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datad = d["data"]  # the real stuff
print(type(datad))

print(len(datad))

for i, el in enumerate(datad):
    print(f"Index {i}: {type(el)}")

<class 'collections.defaultdict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [15]:
keysd = list(datad.keys())
print(keysd)

datadriver = pd.DataFrame(datad)
datadriver

['4', '81', '63', '16', '55', '44', '1', '11', '23', '27', '14', '3', '20', '10', '31', '22', '18', '43', '77', '24']

,4,81,63,16,55,44,1,11,23,27,14,3,20,10,31,22,18,43,77,24
RacingNumber,4,81,63,16,55,44,1,11,23,27,14,3,20,10,31,22,18,43,77,24
BroadcastName,L NORRIS,O PIASTRI,G RUSSELL,C LECLERC,C SAINZ,L HAMILTON,M VERSTAPPEN,S PEREZ,A ALBON,N HULKENBERG,F ALONSO,D RICCIARDO,K MAGNUSSEN,P GASLY,E OCON,Y TSUNODA,L STROLL,F COLAPINTO,V BOTTAS,G ZHOU
FullName,Lando NORRIS,Oscar PIASTRI,George RUSSELL,Charles LECLERC,Carlos SAINZ,Lewis HAMILTON,Max VERSTAPPEN,Sergio PEREZ,Alexander ALBON,Nico HULKENBERG,Fernando ALONSO,Daniel RICCIARDO,Kevin MAGNUSSEN,Pierre GASLY,Esteban OCON,Yuki TSUNODA,Lance STROLL,Franco COLAPINTO,Valtteri BOTTAS,ZHOU Guanyu
Tla,NOR,PIA,RUS,LEC,SAI,HAM,VER,PER,ALB,HUL,ALO,RIC,MAG,GAS,OCO,TSU,STR,COL,BOT,ZHO
Line,3,2,7,1,4,5,6,8,9,17,11,13,10,15,14,20,19,12,16,18
TeamName,McLaren,McLaren,Mercedes,Ferrari,Ferrari,Mercedes,Red Bull Racing,Red Bull Racing,Williams,Haas F1 Team,Aston Martin,RB,Haas F1 Team,Alpine,Alpine,RB,Aston Martin,Williams,Kick Sauber,Kick Sauber
TeamColour,FF8000,FF8000,27F4D2,E80020,E80020,27F4D2,3671C6,3671C6,64C4FF,B6BABD,229971,6692FF,B6BABD,0093cc,0093cc,6692FF,229971,64C4FF,52e252,52e252
FirstName,Lando,Oscar,George,Charles,Carlos,Lewis,Max,Sergio,Alexander,Nico,Fernando,Daniel,Kevin,Pierre,Esteban,Yuki,Lance,Franco,Valtteri,Guanyu
LastName,Norris,Piastri,Russell,Leclerc,Sainz,Hamilton,Verstappen,Perez,Albon,Hulkenberg,Alonso,Ricciardo,Magnussen,Gasly,Ocon,Tsunoda,Stroll,Colapinto,Bottas,Zhou
Reference,LANNOR01,OSCPIA01,GEORUS01,CHALEC01,CARSAI01,LEWHAM01,MAXVER01,SERPER01,ALEALB01,NICHUL01,FERALO01,DANRIC01,KEVMAG01,PIEGAS01,ESTOCO01,YUKTSU01,LANSTR01,FRACOL01,VALBOT01,GUAZHO01
CountryCode,GBR,AUS,GBR,MON,ESP,GBR,NED,MEX,THA,GER,ESP,AUS,DEN,FRA,FRA,JPN,CAN,ARG,FIN,CHN
HeadshotUrl,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,NaN,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...

<h2><center> Lap Count Datas </center></h2>

<center> 



Two maindataframe , the first one has 940 rows and 18 colums : (see below)

The second one has 22500 rows and 5 colums : (see below)

 </center>

In [12]:
import pprint

fpath = os.path.join(path_to_race, "lap_count.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataaa = d["data"]  # the real stuff
print(type(dataaa))

print(len(dataaa))

for i, el in enumerate(dataaa):
    print(f"Index {i}: {type(el)}")

pprint.pprint(list(dataaa.items())[:5])

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
[('Time',
  [datetime.timedelta(seconds=4, microseconds=17000),
   datetime.timedelta(seconds=3592, microseconds=382000),
   datetime.timedelta(seconds=3681, microseconds=574000),
   datetime.timedelta(seconds=3771, microseconds=139000),
   datetime.timedelta(seconds=3860, microseconds=662000),
   datetime.timedelta(seconds=3950, microseconds=348000),
   datetime.timedelta(seconds=4040, microseconds=124000),
   datetime.timedelta(seconds=4129, microseconds=882000),
   datetime.timedelta(seconds=4219, microseconds=466000),
   datetime.timedelta(seconds=4308, microseconds=865000),
   datetime.timedelta(seconds=4398, microseconds=357000),
   datetime.timedelta(seconds=4488, microseconds=26000),
   datetime.timedelta(seconds=4577, microseconds=411000),
   datetime.timedelta(seconds=4667, microseconds=55000),
   datetime.timedelta(seconds=4756, microseconds=581000),
   datetime.timedelta(seconds=4846, microseconds=287000),
   datetime.timedelta(seconds=4935, microseconds=741000),
   datetime.timedelta(seconds=5025, microseconds=320000),
   datetime.timedelta(seconds=5114, microseconds=941000),
   datetime.timedelta(seconds=5204, microseconds=641000),
   datetime.timedelta(seconds=5294, microseconds=111000),
   datetime.timedelta(seconds=5383, microseconds=518000),
   datetime.timedelta(seconds=5472, microseconds=784000),
   datetime.timedelta(seconds=5564, microseconds=144000),
   datetime.timedelta(seconds=5654, microseconds=284000),
   datetime.timedelta(seconds=5743, microseconds=498000),
   datetime.timedelta(seconds=5833, microseconds=34000),
   datetime.timedelta(seconds=5922, microseconds=314000),
   datetime.timedelta(seconds=6011, microseconds=307000),
   datetime.timedelta(seconds=6100, microseconds=232000),
   datetime.timedelta(seconds=6189, microseconds=324000),
   datetime.timedelta(seconds=6278, microseconds=327000),
   datetime.timedelta(seconds=6367, microseconds=315000),
   datetime.timedelta(seconds=6456, microseconds=384000),
   datetime.timedelta(seconds=6545, microseconds=639000),
   datetime.timedelta(seconds=6634, microseconds=812000),
   datetime.timedelta(seconds=6723, microseconds=836000),
   datetime.timedelta(seconds=6812, microseconds=948000),
   datetime.timedelta(seconds=6902, microseconds=50000),
   datetime.timedelta(seconds=6991, microseconds=362000),
   datetime.timedelta(seconds=7080, microseconds=729000),
   datetime.timedelta(seconds=7169, microseconds=341000),
   datetime.timedelta(seconds=7257, microseconds=741000),
   datetime.timedelta(seconds=7345, microseconds=473000),
   datetime.timedelta(seconds=7433, microseconds=363000),
   datetime.timedelta(seconds=7521, microseconds=135000),
   datetime.timedelta(seconds=7609, microseconds=115000),
   datetime.timedelta(seconds=7696, microseconds=963000),
   datetime.timedelta(seconds=7784, microseconds=762000),
   datetime.timedelta(seconds=7872, microseconds=531000),
   datetime.timedelta(seconds=7960, microseconds=500000),
   datetime.timedelta(seconds=8048, microseconds=496000),
   datetime.timedelta(seconds=8136, microseconds=965000),
   datetime.timedelta(seconds=8225, microseconds=357000),
   datetime.timedelta(seconds=8313, microseconds=519000),
   datetime.timedelta(seconds=8402, microseconds=325000),
   datetime.timedelta(seconds=8490, microseconds=969000),
   datetime.timedelta(seconds=8579, microseconds=735000)]),
 ('TotalLaps',
  [58,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None]),
 ('CurrentLap',
  [1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   53,
   54,
   55,
   56,
   57,
   58])]

In [13]:
# Show all keys
print(dataaa.keys())

# Time
print("\n--- TIME ---")
for t in dataaa["Time"][:10]:  # print first 10
    print(t)

# TotalLaps
print("\n--- TOTAL LAPS ---")
for tl in dataaa["TotalLaps"][:10]:
    print(tl)

# CurrentLap
print("\n--- CURRENT LAP ---")
for cl in dataaa["CurrentLap"][:10]:
    print(cl)

dict_keys(['Time', 'TotalLaps', 'CurrentLap'])

--- TIME ---
0:00:04.017000
0:59:52.382000
1:01:21.574000
1:02:51.139000
1:04:20.662000
1:05:50.348000
1:07:20.124000
1:08:49.882000
1:10:19.466000
1:11:48.865000

--- TOTAL LAPS ---
58
None
None
None
None
None
None
None
None
None

--- CURRENT LAP ---
1
2
3
4
5
6
7
8
9
10

<h2><center> Position Data </center></h2>

<center> Contains for every driver more or less 20000 rows with 7 colums: Time | Date | Status ( offtrack/on) | x | y | z | pos   </center>

In [14]:
import pprint

fpath = os.path.join(path_to_race, "position_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataa = d["data"]  # the real stuff
print(type(dataa))

print(len(dataa))

for i, el in enumerate(dataa):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [15]:
keys = list(dataa.keys())
print(keys)

['1', '4', '5', '6', '10', '12', '14', '16', '18', '22', '23', '27', '30', '31', '43', '44', '55', '63', '81', '87']

In [16]:
key = keys[18]  
driver_data = dataa[key]

print("Type:", type(driver_data))

if hasattr(driver_data, "head"):
    # It's a DataFrame
    display(driver_data)
elif isinstance(driver_data, dict):
    # Nested dict
    print("Subkeys:", list(driver_data.keys())[:10])
    pprint.pprint(driver_data[list(driver_data.keys())[0]])
else:
    # Some other type (list, array)
    pprint.pprint(driver_data)

Type: <class 'pandas.core.frame.DataFrame'>

,Time,Date,Status,X,Y,Z,Source
0,0 days 00:00:29.829000,2025-12-07 12:05:36.891246,OnTrack,0,0,0,pos
1,0 days 00:00:31.129000,2025-12-07 12:05:37.191201,OnTrack,0,0,0,pos
2,0 days 00:00:31.129000,2025-12-07 12:05:37.491155,OnTrack,0,0,0,pos
3,0 days 00:00:31.129000,2025-12-07 12:05:37.771112,OnTrack,0,0,0,pos
4,0 days 00:00:31.129000,2025-12-07 12:05:38.191049,OnTrack,0,0,0,pos
...,...,...,...,...,...,...,...
34447,0 days 02:32:04.133000,2025-12-07 14:37:10.354679,OnTrack,991,2129,-239,pos
34448,0 days 02:32:04.133000,2025-12-07 14:37:10.594643,OnTrack,991,2129,-239,pos
34449,0 days 02:32:04.133000,2025-12-07 14:37:10.954588,OnTrack,991,2129,-239,pos
34450,0 days 02:32:04.133000,2025-12-07 14:37:11.195551,OnTrack,991,2129,-239,pos
34451,0 days 02:32:04.353000,2025-12-07 14:37:11.415518,OnTrack,991,2129,-239,pos

<h2><center> Session Datas </center></h2>

In [17]:
import pprint

fpath = os.path.join(path_to_race, "session_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
10
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>

In [18]:
keys = list(data.keys())
print(keys)

data = pd.DataFrame(data)
data

['Meeting', 'SessionStatus', 'ArchiveStatus', 'Key', 'Type', 'Name', 'StartDate', 'EndDate', 'GmtOffset', 'Path']

,Meeting,SessionStatus,ArchiveStatus,Key,Type,Name,StartDate,EndDate,GmtOffset,Path
Key,1276,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Name,Abu Dhabi Grand Prix,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
OfficialName,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Location,Yas Island,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Number,24,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Country,"{'Key': 21, 'Code': 'UAE', 'Name': 'United Ara...",Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Circuit,"{'Key': 70, 'ShortName': 'Yas Marina Circuit'}",Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Status,NaN,Inactive,Generating,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...

<h2><center> Session Status Datas</center></h2>

In [19]:
import pprint

fpath = os.path.join(path_to_race, "session_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataiii= d["data"]  # the real stuff
print(type(dataiii))

print(len(dataiii))

for i, el in enumerate(dataiii):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
2
Index 0: <class 'str'>
Index 1: <class 'str'>

In [20]:
keys = list(dataiii.keys())
print(keys)

aa = pd.DataFrame(dataiii)
aa

['Time', 'Status']

                    Time     Status
0 0 days 00:00:11.502000   Inactive
1 0 days 00:58:20.522000    Started
2 0 days 02:24:28.174000   Finished
3 0 days 02:34:40.200000  Finalised
4 0 days 02:34:40.200000       Ends

<h2><center> Timing App Data </center></h2>

In [21]:
import pprint

fpath = os.path.join(path_to_race, "timing_app_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datas = d["data"]  
print(type(datas))

print(len(datas))

for i, el in enumerate(datas):
    print(f"Index {i}: {type(el)}")

<class 'pandas.core.frame.DataFrame'>
1432
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>

In [22]:
chiavi = list(datas.keys())
print(chiavi)

['LapNumber', 'Driver', 'LapTime', 'Stint', 'TotalLaps', 'Compound', 'New', 'TyresNotChanged', 'Time', 'LapFlags', 'LapCountTime', 'StartLaps', 'Outlap']

In [23]:
import pandas as pd

df = pd.DataFrame(datas)
df


#print just the datas for driver '44'
df_44 = df.loc[df['Driver'] == '10']
df_44

,LapNumber,Driver,LapTime,Stint,TotalLaps,Compound,New,TyresNotChanged,Time,LapFlags,LapCountTime,StartLaps,Outlap
3,NaN,10,NaT,0,0.0,MEDIUM,True,0,0 days 00:50:03.657000,0.0,None,0.0,None
38,NaN,10,NaT,0,1.0,None,None,None,0 days 01:00:03.813000,NaN,None,NaN,None
76,NaN,10,NaT,0,2.0,None,None,None,0 days 01:01:38.827000,NaN,None,NaN,None
78,2.0,10,0 days 00:01:32.010000,0,NaN,None,None,None,0 days 01:01:38.863000,1.0,None,NaN,None
113,3.0,10,0 days 00:01:30.864000,0,NaN,None,None,None,0 days 01:03:05.123000,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1331,NaN,10,NaT,2,16.0,None,None,None,0 days 02:18:39.382000,NaN,None,NaN,None
1353,NaN,10,NaT,2,17.0,None,None,None,0 days 02:20:09.377000,NaN,None,NaN,None
1373,NaN,10,NaT,2,18.0,None,None,None,0 days 02:21:39.395000,NaN,None,NaN,None
1394,NaN,10,NaT,2,19.0,None,None,None,0 days 02:23:09.398000,NaN,None,NaN,None
1415,NaN,10,NaT,2,20.0,None,None,None,0 days 02:24:39.415000,NaN,None,NaN,None

<h2><center>  Track Stauts Data </center></h2>

In [24]:
import pprint

fpath = os.path.join(path_to_race, "track_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datass = d["data"]  
print(type(datass))

print(len(datass))

for i, el in enumerate(datass):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>

In [25]:
# print the keys of the datass dictionary
keyss = list(datass.keys())
print(keyss)

['Time', 'Status', 'Message']

In [26]:
import pprint

for k, v in datass.items():
    print(f"\n=== {k} ===")
    print("Type:", type(v))
    print("Length:", len(v))
    pprint.pprint(v[:10])  

df_track_status = pd.DataFrame(datass)
df_track_status = df_track_status.sort_values("Time").reset_index(drop=True)

display(df_track_status)

=== Time ===
Type: <class 'list'>
Length: 7
[datetime.timedelta(0),
 datetime.timedelta(seconds=62, microseconds=202000),
 datetime.timedelta(seconds=104, microseconds=386000),
 datetime.timedelta(seconds=345, microseconds=128000),
 datetime.timedelta(seconds=376, microseconds=112000),
 datetime.timedelta(seconds=2799, microseconds=231000),
 datetime.timedelta(seconds=2812, microseconds=88000)]

=== Status ===
Type: <class 'list'>
Length: 7
['1', '2', '1', '2', '1', '2', '1']

=== Message ===
Type: <class 'list'>
Length: 7
['AllClear', 'Yellow', 'AllClear', 'Yellow', 'AllClear', 'Yellow', 'AllClear']

                    Time Status   Message
0        0 days 00:00:00      1  AllClear
1 0 days 00:01:02.202000      2    Yellow
2 0 days 00:01:44.386000      1  AllClear
3 0 days 00:05:45.128000      2    Yellow
4 0 days 00:06:16.112000      1  AllClear
5 0 days 00:46:39.231000      2    Yellow
6 0 days 00:46:52.088000      1  AllClear

<h2><center> Weather Data </center></h2>

In [27]:
import pprint

ffpath = os.path.join(path_to_race, "weather_data.ff1pkl")

with open(ffpath, "rb") as f:
    d = pickle.load(f)

datatempo = d["data"]  
print(type(datatempo))

print(len(datatempo))

for i, el in enumerate(datatempo):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
8
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>

In [28]:
tempo = list(datatempo.keys())
print(tempo)

# printing a dataframe of the weather data

df_weather = pd.DataFrame(datatempo)
display(df_weather)

['Time', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp', 'WindDirection', 'WindSpeed']

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:01:00.108000,27.4,55.0,1016.4,False,34.6,67,3.0
1,0 days 00:02:00.124000,27.4,54.0,1016.4,False,34.4,290,2.4
2,0 days 00:03:00.131000,27.5,54.0,1016.3,False,34.4,286,1.4
3,0 days 00:04:00.144000,27.5,54.0,1016.5,False,34.2,350,2.6
4,0 days 00:05:00.164000,27.5,55.0,1016.4,False,34.0,327,3.2
...,...,...,...,...,...,...,...,...
149,0 days 02:30:00.883000,26.0,66.0,1017.4,False,28.7,88,1.7
150,0 days 02:31:00.881000,26.0,66.0,1017.3,False,28.9,128,1.4
151,0 days 02:32:00.887000,25.9,66.0,1017.4,False,28.9,101,0.6
152,0 days 02:33:00.886000,25.9,66.0,1017.4,False,29.0,104,1.2
153,0 days 02:34:00.886000,25.9,66.0,1017.3,False,28.9,84,1.5

In [29]:

print(f"Weather dataset shape: {df_weather.shape}")
print(f"\nMerged Time column (first 5):")


print(f"\nWeather Time column (first 5):")
print(df_weather['Time'].head())
print(f"Type: {type(df_weather['Time'].iloc[0])}")

Weather dataset shape: (154, 8)

Merged Time column (first 5):

Weather Time column (first 5):
0   0 days 00:01:00.108000
1   0 days 00:02:00.124000
2   0 days 00:03:00.131000
3   0 days 00:04:00.144000
4   0 days 00:05:00.164000
Name: Time, dtype: timedelta64[ns]
Type: <class 'pandas._libs.tslibs.timedeltas.Timedelta'>