# In this short notebook we will explore for a random year and a random race which datas we actually have

In [1]:
import os
import pickle

base_path = "/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache"

print(os.listdir(base_path))

['2025', '2024', '2023', '.DS_Store', 'fastf1_http_cache.sqlite']

In [2]:
year = "2025"
gp = "2025-12-07_Abu_Dhabi_Grand_Prix"
race = "2025-12-07_Race"

path_to_race = os.path.join(base_path, year, gp, race)
print(path_to_race)
print(os.path.exists(path_to_race))

/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache/2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-07_Race
True

In [3]:

data_summary = {}

for f in os.listdir(path_to_race):
    if f.endswith(".ff1pkl"):
        fpath = os.path.join(path_to_race, f)
        with open(fpath, "rb") as file:
            data = pickle.load(file)
        data_summary[f] = type(data)

for k, v in data_summary.items():
    print(f"{k}: {v}")

car_data.ff1pkl: <class 'dict'>
weather_data.ff1pkl: <class 'dict'>
driver_info.ff1pkl: <class 'dict'>
position_data.ff1pkl: <class 'dict'>
lap_count.ff1pkl: <class 'dict'>
session_status_data.ff1pkl: <class 'dict'>
race_control_messages.ff1pkl: <class 'dict'>
timing_app_data.ff1pkl: <class 'dict'>
track_status_data.ff1pkl: <class 'dict'>
session_info.ff1pkl: <class 'dict'>
_extended_timing_data.ff1pkl: <class 'dict'>

# Inspecting the car_dat.ff1pkl

We can see that we have 26000 rows and 9 colums: 
Time | Date | Rpm | Speed | nGear | Throttle | Brake | DRS | source

In [4]:
import pprint

fpath = os.path.join(path_to_race, "car_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))
pprint.pprint(list(data.items())[:5])

<class 'dict'>
[('1',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:01:14.077000 2025-12-07 12:06:20.939620    0      0      0
1     0 days 00:01:14.077000 2025-12-07 12:06:21.139590    0      0      0
2     0 days 00:01:15.277000 2025-12-07 12:06:21.459543    0      0      0
3     0 days 00:01:15.277000 2025-12-07 12:06:21.739500    0      0      0
4     0 days 00:01:15.277000 2025-12-07 12:06:21.939471    0      0      0
...                      ...                        ...  ...    ...    ...
33648 0 days 02:31:48.294000 2025-12-07 14:36:55.117901    0      0      0
33649 0 days 02:31:48.294000 2025-12-07 14:36:55.356866    0      0      0
33650 0 days 02:31:48.975000 2025-12-07 14:36:55.677817    0      0      0
33651 0 days 02:31:48.975000 2025-12-07 14:36:55.836794    0      0      0
33652 0 days 02:31:48.975000 2025-12-07 14:36:56.037764    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33648       104   True    0    car
33649       104   True    0    car
33650       104   True    0    car
33651       104   True    0    car
33652       104   True    0    car

[33653 rows x 9 columns]),
 ('4',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:01:14.077000 2025-12-07 12:06:20.939620    0      0      0
1     0 days 00:01:14.077000 2025-12-07 12:06:21.139590    0      0      0
2     0 days 00:01:15.277000 2025-12-07 12:06:21.459543    0      0      0
3     0 days 00:01:15.277000 2025-12-07 12:06:21.739500    0      0      0
4     0 days 00:01:15.277000 2025-12-07 12:06:21.939471    0      0      0
...                      ...                        ...  ...    ...    ...
33648 0 days 02:31:48.294000 2025-12-07 14:36:55.117901    0      0      0
33649 0 days 02:31:48.294000 2025-12-07 14:36:55.356866    0      0      0
33650 0 days 02:31:48.975000 2025-12-07 14:36:55.677817    0      0      0
33651 0 days 02:31:48.975000 2025-12-07 14:36:55.836794    0      0      0
33652 0 days 02:31:48.975000 2025-12-07 14:36:56.037764    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33648       104   True    0    car
33649       104   True    0    car
33650       104   True    0    car
33651       104   True    0    car
33652       104   True    0    car

[33653 rows x 9 columns]),
 ('5',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:01:14.077000 2025-12-07 12:06:20.939620    0      0      0
1     0 days 00:01:14.077000 2025-12-07 12:06:21.139590    0      0      0
2     0 days 00:01:15.277000 2025-12-07 12:06:21.459543    0      0      0
3     0 days 00:01:15.277000 2025-12-07 12:06:21.739500    0      0      0
4     0 days 00:01:15.277000 2025-12-07 12:06:21.939471    0      0      0
...                      ...                        ...  ...    ...    ...
33648 0 days 02:31:48.294000 2025-12-07 14:36:55.117901    0      0      0
33649 0 days 02:31:48.294000 2025-12-07 14:36:55.356866    0      0      0
33650 0 days 02:31:48.975000 2025-12-07 14:36:55.677817    0      0      0
33651 0 days 02:31:48.975000 2025-12-07 14:36:55.836794    0      0      0
33652 0 days 02:31:48.975000 2025-12-07 14:36:56.037764    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33648       104   True    0    car
33649       104   True    0    car
33650       104   True    0    car
33651       104   True    0    car
33652       104   True    0    car

[33653 rows x 9 columns]),
 ('6',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:01:14.077000 2025-12-07 12:06:20.939620    0      0      0
1     0 days 00:01:14.077000 2025-12-07 12:06:21.139590    0      0      0
2     0 days 00:01:15.277000 2025-12-07 12:06:21.459543    0      0      0
3     0 days 00:01:15.277000 2025-12-07 12:06:21.739500    0      0      0
4     0 days 00:01:15.277000 2025-12-07 12:06:21.939471    0      0      0
...                      ...                        ...  ...    ...    ...
33648 0 days 02:31:48.294000 2025-12-07 14:36:55.117901    0      0      0
33649 0 days 02:31:48.294000 2025-12-07 14:36:55.356866    0      0      0
33650 0 days 02:31:48.975000 2025-12-07 14:36:55.677817    0      0      0
33651 0 days 02:31:48.975000 2025-12-07 14:36:55.836794    0      0      0
33652 0 days 02:31:48.975000 2025-12-07 14:36:56.037764    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33648       104   True    0    car
33649       104   True    0    car
33650       104   True    0    car
33651       104   True    0    car
33652       104   True    0    car

[33653 rows x 9 columns]),
 ('10',
                          Time                       Date  RPM  Speed  nGear  \
0     0 days 00:01:14.077000 2025-12-07 12:06:20.939620    0      0      0
1     0 days 00:01:14.077000 2025-12-07 12:06:21.139590    0      0      0
2     0 days 00:01:15.277000 2025-12-07 12:06:21.459543    0      0      0
3     0 days 00:01:15.277000 2025-12-07 12:06:21.739500    0      0      0
4     0 days 00:01:15.277000 2025-12-07 12:06:21.939471    0      0      0
...                      ...                        ...  ...    ...    ...
33648 0 days 02:31:48.294000 2025-12-07 14:36:55.117901    0      0      0
33649 0 days 02:31:48.294000 2025-12-07 14:36:55.356866    0      0      0
33650 0 days 02:31:48.975000 2025-12-07 14:36:55.677817    0      0      0
33651 0 days 02:31:48.975000 2025-12-07 14:36:55.836794    0      0      0
33652 0 days 02:31:48.975000 2025-12-07 14:36:56.037764    0      0      0

       Throttle  Brake  DRS Source
0             0  False    0    car
1             0  False    0    car
2             0  False    0    car
3             0  False    0    car
4             0  False    0    car
...         ...    ...  ...    ...
33648       104   True    0    car
33649       104   True    0    car
33650       104   True    0    car
33651       104   True    0    car
33652       104   True    0    car

[33653 rows x 9 columns])]

In [5]:
import pandas as pd

print("Available drivers (car numbers):", list(data.keys()))

# Choose one driver, e.g. car number '44' or any in your output
driver_key = list(data.keys())[18]   # or '44' if it exists
df_driver = data[driver_key]

print(f"\nDriver {driver_key} telemetry:")
print("Shape:", df_driver.shape)
display(df_driver)

Available drivers (car numbers): ['1', '4', '5', '6', '10', '12', '14', '16', '18', '22', '23', '27', '30', '31', '43', '44', '55', '63', '81', '87']

Driver 81 telemetry:
Shape: (33653, 9)

,Time,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source
0,0 days 00:01:14.077000,2025-12-07 12:06:20.939620,0,0,0,0,False,0,car
1,0 days 00:01:14.077000,2025-12-07 12:06:21.139590,0,0,0,0,False,0,car
2,0 days 00:01:15.277000,2025-12-07 12:06:21.459543,0,0,0,0,False,0,car
3,0 days 00:01:15.277000,2025-12-07 12:06:21.739500,0,0,0,0,False,0,car
4,0 days 00:01:15.277000,2025-12-07 12:06:21.939471,0,0,0,0,False,0,car
...,...,...,...,...,...,...,...,...,...
33648,0 days 02:31:48.294000,2025-12-07 14:36:55.117901,0,0,0,104,True,0,car
33649,0 days 02:31:48.294000,2025-12-07 14:36:55.356866,0,0,0,104,True,0,car
33650,0 days 02:31:48.975000,2025-12-07 14:36:55.677817,0,0,0,104,True,0,car
33651,0 days 02:31:48.975000,2025-12-07 14:36:55.836794,0,0,0,104,True,0,car
33652,0 days 02:31:48.975000,2025-12-07 14:36:56.037764,0,0,0,104,True,0,car

# Investigating the extended timing data

We can see that we havw a tuple, that stores 2 dataframe and one list 

In the first dataframe we have 1000 row with 17 colums

In the second one we have 22000 entries with 5 colums 

and the 3 one which is atiny list is typically bookkeeping offsets FastF1 uses to align timing feeds across midnight/day boundaries or to normalize different data sources.

In [6]:
import pprint

fpath = os.path.join(path_to_race, "_extended_timing_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'tuple'>
3
Index 0: <class 'pandas.core.frame.DataFrame'>
Index 1: <class 'pandas.core.frame.DataFrame'>
Index 2: <class 'list'>

In [7]:
#data[0].info()

# just for driver 44

data_44 = data[0].loc[data[0]['Driver'] == '1']
data_44

,Time,Driver,LapTime,NumberOfLaps,NumberOfPitStops,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest
0,0 days 00:59:52.411000,1,NaT,1,0,0 days 00:23:01.686000,NaT,NaT,0 days 00:00:38.489000,0 days 00:00:32.363000,NaT,0 days 00:59:20.279000,0 days 00:59:52.515000,284.0,293.0,213.0,307.0,False
1,0 days 01:01:21.528000,1,0 days 00:01:29.117000,2,0,NaT,NaT,0 days 00:00:18.085000,0 days 00:00:38.383000,0 days 00:00:32.649000,0 days 01:00:10.571000,0 days 01:00:48.954000,0 days 01:01:21.603000,283.0,294.0,211.0,303.0,True
2,0 days 01:02:51.083000,1,0 days 00:01:29.555000,3,0,NaT,NaT,0 days 00:00:18.197000,0 days 00:00:38.495000,0 days 00:00:32.863000,0 days 01:01:39.800000,0 days 01:02:18.295000,0 days 01:02:51.158000,281.0,294.0,212.0,304.0,False
3,0 days 01:04:20.646000,1,0 days 00:01:29.563000,4,0,NaT,NaT,0 days 00:00:18.253000,0 days 00:00:38.441000,0 days 00:00:32.869000,0 days 01:03:09.411000,0 days 01:03:47.852000,0 days 01:04:20.721000,NaN,296.0,211.0,306.0,False
4,0 days 01:05:50.341000,1,0 days 00:01:29.695000,5,0,NaT,NaT,0 days 00:00:18.142000,0 days 00:00:38.529000,0 days 00:00:33.024000,0 days 01:04:38.863000,0 days 01:05:17.392000,0 days 01:05:50.416000,283.0,295.0,211.0,305.0,False
5,0 days 01:07:20.113000,1,0 days 00:01:29.772000,6,0,NaT,NaT,0 days 00:00:18.250000,0 days 00:00:38.579000,0 days 00:00:32.943000,0 days 01:06:08.666000,0 days 01:06:47.245000,0 days 01:07:20.188000,NaN,296.0,211.0,306.0,False
6,0 days 01:08:49.857000,1,0 days 00:01:29.744000,7,0,NaT,NaT,0 days 00:00:18.187000,0 days 00:00:38.496000,0 days 00:00:33.061000,0 days 01:07:38.375000,0 days 01:08:16.871000,0 days 01:08:49.932000,NaN,298.0,211.0,308.0,False
7,0 days 01:10:19.458000,1,0 days 00:01:29.601000,8,0,NaT,NaT,0 days 00:00:18.136000,0 days 00:00:38.420000,0 days 00:00:33.045000,0 days 01:09:08.068000,0 days 01:09:46.488000,0 days 01:10:19.533000,284.0,297.0,211.0,306.0,False
8,0 days 01:11:48.871000,1,0 days 00:01:29.413000,9,0,NaT,NaT,0 days 00:00:18.146000,0 days 00:00:38.494000,0 days 00:00:32.773000,0 days 01:10:37.679000,0 days 01:11:16.173000,0 days 01:11:48.946000,283.0,297.0,210.0,306.0,False
9,0 days 01:13:18.336000,1,0 days 00:01:29.465000,10,0,NaT,NaT,0 days 00:00:18.120000,0 days 00:00:38.396000,0 days 00:00:32.949000,0 days 01:12:07.066000,0 days 01:12:45.462000,0 days 01:13:18.411000,284.0,295.0,209.0,307.0,False
10,0 days 01:14:47.874000,1,0 days 00:01:29.538000,11,0,NaT,NaT,0 days 00:00:18.143000,0 days 00:00:38.496000,0 days 00:00:32.899000,0 days 01:13:36.554000,0 days 01:14:15.050000,0 days 01:14:47.949000,NaN,297.0,210.0,306.0,False
11,0 days 01:16:17.417000,1,0 days 00:01:29.543000,12,0,NaT,NaT,0 days 00:00:18.120000,0 days 00:00:38.567000,0 days 00:00:32.856000,0 days 01:15:06.069000,0 days 01:15:44.636000,0 days 01:16:17.492000,NaN,296.0,211.0,306.0,False
12,0 days 01:17:47.050000,1,0 days 00:01:29.633000,13,0,NaT,NaT,0 days 00:00:18.044000,0 days 00:00:38.531000,0 days 00:00:33.058000,0 days 01:16:35.536000,0 days 01:17:14.067000,0 days 01:17:47.125000,285.0,295.0,210.0,307.0,False
13,0 days 01:19:16.576000,1,0 days 00:01:29.526000,14,0,NaT,NaT,0 days 00:00:17.984000,0 days 00:00:38.599000,0 days 00:00:32.943000,0 days 01:18:05.109000,0 days 01:18:43.708000,0 days 01:19:16.651000,286.0,297.0,211.0,305.0,False
14,0 days 01:20:46.279000,1,0 days 00:01:29.703000,15,0,NaT,NaT,0 days 00:00:17.993000,0 days 00:00:38.622000,0 days 00:00:33.088000,0 days 01:19:34.644000,0 days 01:20:13.266000,0 days 01:20:46.354000,285.0,295.0,211.0,302.0,False
15,0 days 01:22:15.739000,1,0 days 00:01:29.460000,16,0,NaT,NaT,0 days 00:00:18.045000,0 days 00:00:38.597000,0 days 00:00:32.818000,0 days 01:21:04.399000,0 days 01:21:42.996000,0 days 01:22:15.814000,NaN,296.0,210.0,303.0,False
16,0 days 01:23:45.317000,1,0 days 00:01:29.578000,17,0,NaT,NaT,0 days 00:00:18.012000,0 days 00:00:38.682000,0 days 00:00:32.884000,0 days 01:22:33.826000,0 days 01:23:12.508000,0 days 01:23:45.392000,286.0,296.0,210.0,298.0,False
17,0 days 01:25:14.913000,1,0 days 00:01:29.596000,18,0,NaT,NaT,0 days 00:00:18.064000,0 days 00:00:38.646000,0 days 00:00:32.886000,0 days 01:24:03.456000,0 days 01:24:42.102000,0 days 01:25:14.988000,284.0,296.0,211.0,304.0,False
18,0 days 01:26:44.527000,1,0 days 00:01:29.614000,19,0,NaT,NaT,0 days 00:00:17.981000,0 days 00:00:38.709000,0 days 00:00:32.924000,0 days 01:25:32.969000,0 days 01:26:11.678000,0 days 01:26:44.602000,285.0,295.0,211.0,303.0,False
19,0 days 01:28:14.084000,1,0 days 00:01:29.557000,20,0,NaT,NaT,0 days 00:00:18.010000,0 days 00:00:38.667000,0 days 00:00:32.880000,0 days 01:27:02.612000,0 days 01:27:41.279000,0 days 01:28:14.159000,284.0,296.0,211.0,302.0,False
20,0 days 01:29:43.525000,1,0 days 00:01:29.441000,21,0,NaT,NaT,0 days 00:00:17.873000,0 days 00:00:38.788000,0 days 00:00:32.780000,0 days 01:28:32.032000,0 days 01:29:10.820000,0 days 01:29:43.600000,NaN,296.0,210.0,302.0,False
21,0 days 01:31:12.768000,1,0 days 00:01:29.243000,22,0,NaT,NaT,0 days 00:00:17.869000,0 days 00:00:38.589000,0 days 00:00:32.785000,0 days 01:30:01.469000,0 days 01:30:40.058000,0 days 01:31:12.843000,286.0,298.0,211.0,299.0,False
22,0 days 01:32:44.133000,1,0 days 00:01:31.365000,23,0,NaT,0 days 01:32:43.105000,0 days 00:00:17.903000,0 days 00:00:38.590000,0 days 00:00:34.872000,0 days 01:31:30.746000,0 days 01:32:09.336000,0 days 01:32:44.208000,287.0,299.0,NaN,300.0,False
23,0 days 01:34:33.056000,1,0 days 00:01:48.923000,24,1,0 days 01:33:04.789000,NaT,0 days 00:00:38.129000,0 days 00:00:38.518000,0 days 00:00:32.276000,0 days 01:33:22.337000,0 days 01:34:00.855000,0 days 01:34:33.131000,285.0,295.0,214.0,297.0,False
24,0 days 01:36:01.749000,1,0 days 00:01:28.693000,25,1,NaT,NaT,0 days 00:00:17.857000,0 days 00:00:38.251000,0 days 00:00:32.585000,0 days 01:34:50.988000,0 days 01:35:29.239000,0 days 01:36:01.824000,286.0,295.0,214.0,299.0,True
25,0 days 01:37:30.061000,1,0 days 00:01:28.312000,26,1,NaT,NaT,0 days 00:00:17.846000,0 days 00:00:38.185000,0 days 00:00:32.281000,0 days 01:36:19.670000,0 days 01:36:57.855000,0 days 01:37:30.136000,287.0,298.0,212.0,301.0,True
26,0 days 01:38:58.388000,1,0 days 00:01:28.327000,27,1,NaT,NaT,0 days 00:00:17.789000,0 days 00:00:38.265000,0 days 00:00:32.273000,0 days 01:37:47.925000,0 days 01:38:26.190000,0 days 01:38:58.463000,286.0,298.0,214.0,301.0,False
27,0 days 01:40:26.759000,1,0 days 00:01:28.371000,28,1,NaT,NaT,0 days 00:00:17.801000,0 days 00:00:38.338000,0 days 00:00:32.232000,0 days 01:39:16.264000,0 days 01:39:54.602000,0 days 01:40:26.834000,287.0,299.0,214.0,302.0,False
28,0 days 01:41:54.762000,1,0 days 00:01:28.003000,29,1,NaT,NaT,0 days 00:00:17.794000,0 days 00:00:38.125000,0 days 00:00:32.084000,0 days 01:40:44.628000,0 days 01:41:22.753000,0 days 01:41:54.837000,284.0,298.0,214.0,303.0,True
29,0 days 01:43:22.811000,1,0 days 00:01:28.049000,30,1,NaT,NaT,0 days 00:00:17.754000,0 days 00:00:38.208000,0 days 00:00:32.087000,0 days 01:42:12.591000,0 days 01:42:50.799000,0 days 01:43:22.886000,286.0,296.0,214.0,302.0,False
30,0 days 01:44:50.655000,1,0 days 00:01:27.844000,31,1,NaT,NaT,0 days 00:00:17.675000,0 days 00:00:38.108000,0 days 00:00:32.061000,0 days 01:43:40.561000,0 days 01:44:18.669000,0 days 01:44:50.730000,287.0,299.0,215.0,302.0,True
31,0 days 01:46:18.456000,1,0 days 00:01:27.801000,32,1,NaT,NaT,0 days 00:00:17.606000,0 days 00:00:38.134000,0 days 00:00:32.061000,0 days 01:45:08.336000,0 days 01:45:46.470000,0 days 01:46:18.531000,284.0,297.0,214.0,303.0,True
32,0 days 01:47:46.365000,1,0 days 00:01:27.909000,33,1,NaT,NaT,0 days 00:00:17.659000,0 days 00:00:38.100000,0 days 00:00:32.150000,0 days 01:46:36.190000,0 days 01:47:14.290000,0 days 01:47:46.440000,285.0,299.0,214.0,303.0,False
33,0 days 01:49:14.289000,1,0 days 00:01:27.924000,34,1,NaT,NaT,0 days 00:00:17.609000,0 days 00:00:38.255000,0 days 00:00:32.060000,0 days 01:48:04.049000,0 days 01:48:42.304000,0 days 01:49:14.364000,NaN,298.0,214.0,302.0,False
34,0 days 01:50:42.270000,1,0 days 00:01:27.981000,35,1,NaT,NaT,0 days 00:00:17.602000,0 days 00:00:38.119000,0 days 00:00:32.260000,0 days 01:49:31.966000,0 days 01:50:10.085000,0 days 01:50:42.345000,287.0,298.0,213.0,303.0,False
35,0 days 01:52:10.080000,1,0 days 00:01:27.810000,36,1,NaT,NaT,0 days 00:00:17.632000,0 days 00:00:38.041000,0 days 00:00:32.137000,0 days 01:50:59.977000,0 days 01:51:38.018000,0 days 01:52:10.155000,286.0,300.0,214.0,304.0,False
36,0 days 01:53:37.825000,1,0 days 00:01:27.745000,37,1,NaT,NaT,0 days 00:00:17.557000,0 days 00:00:38.156000,0 days 00:00:32.032000,0 days 01:52:27.712000,0 days 01:53:05.868000,0 days 01:53:37.900000,287.0,298.0,212.0,304.0,True
37,0 days 01:55:05.576000,1,0 days 00:01:27.751000,38,1,NaT,NaT,0 days 00:00:17.575000,0 days 00:00:38.148000,0 days 00:00:32.028000,0 days 01:53:55.475000,0 days 01:54:33.623000,0 days 01:55:05.651000,288.0,299.0,213.0,304.0,False
38,0 days 01:56:33.201000,1,0 days 00:01:27.625000,39,1,NaT,NaT,0 days 00:00:17.510000,0 days 00:00:38.035000,0 days 00:00:32.080000,0 days 01:55:23.161000,0 days 01:56:01.196000,0 days 01:56:33.276000,289.0,300.0,213.0,305.0,True
39,0 days 01:58:01.343000,1,0 days 00:01:28.142000,40,1,NaT,NaT,0 days 00:00:17.583000,0 days 00:00:38.257000,0 days 00:00:32.302000,0 days 01:56:50.859000,0 days 01:57:29.116000,0 days 01:58:01.418000,NaN,299.0,213.0,308.0,False
40,0 days 01:59:29.316000,1,0 days 00:01:27.973000,41,1,NaT,NaT,0 days 00:00:17.673000,0 days 00:00:38.052000,0 days 00:00:32.248000,0 days 01:58:19.091000,0 days 01:58:57.143000,0 days 01:59:29.391000,295.0,297.0,213.0,335.0,False
41,0 days 02:00:57.536000,1,0 days 00:01:28.220000,42,1,NaT,NaT,0 days 00:00:17.584000,0 days 00:00:38.400000,0 days 00:00:32.236000,0 days 01:59:46.975000,0 days 02:00:25.375000,0 days 02:00:57.611000,284.0,295.0,215.0,303.0,False
42,0 days 02:02:25.471000,1,0 days 00:01:27.935000,43,1,NaT,NaT,0 days 00:00:17.523000,0 days 00:00:38.375000,0 days 00:00:32.037000,0 days 02:01:15.134000,0 days 02:01:53.509000,0 days 02:02:25.546000,288.0,298.0,215.0,303.0,False
43,0 days 02:03:53.364000,1,0 days 00:01:27.893000,44,1,NaT,NaT,0 days 00:00:17.480000,0 days 00:00:38.303000,0 days 00:00:32.110000,0 days 02:02:43.026000,0 days 02:03:21.329000,0 days 02:03:53.439000,289.0,296.0,215.0,305.0,False
44,0 days 02:05:21.116000,1,0 days 00:01:27.752000,45,1,NaT,NaT,0 days 00:00:17.539000,0 days 00:00:38.283000,0 days 00:00:31.930000,0 days 02:04:10.978000,0 days 02:04:49.261000,0 days 02:05:21.191000,286.0,297.0,214.0,306.0,False
45,0 days 02:06:49.077000,1,0 days 00:01:27.961000,46,1,NaT,NaT,0 days 00:00:17.412000,0 days 00:00:38.324000,0 days 00:00:32.225000,0 days 02:05:38.603000,0 days 02:06:16.927000,0 days 02:06:49.152000,291.0,297.0,212.0,305.0,False
46,0 days 02:08:16.948000,1,0 days 00:01:27.871000,47,1,NaT,NaT,0 days 00:00:17.479000,0 days 00:00:38.241000,0 days 00:00:32.151000,0 days 02:07:06.631000,0 days 02:07:44.872000,0 days 02:08:17.023000,290.0,298.0,215.0,306.0,False
47,0 days 02:09:44.766000,1,0 days 00:01:27.818000,48,1,NaT,NaT,0 days 00:00:17.430000,0 days 00:00:38.268000,0 days 00:00:32.120000,0 days 02:08:34.453000,0 days 02:09:12.721000,0 days 02:09:44.841000,289.0,297.0,214.0,306.0,False
48,0 days 02:11:12.516000,1,0 days 00:01:27.750000,49,1,NaT,NaT,0 days 00:00:17.496000,0 days 00:00:38.185000,0 days 00:00:32.069000,0 days 02:10:02.337000,0 days 02:10:40.522000,0 days 02:11:12.591000,NaN,296.0,213.0,306.0,False
49,0 days 02:12:40.502000,1,0 days 00:01:27.986000,50,1,NaT,NaT,0 days 00:00:17.462000,0 days 00:00:38.300000,0 days 00:00:32.224000,0 days 02:11:30.053000,0 days 02:12:08.353000,0 days 02:12:40.577000,NaN,298.0,213.0,308.0,False
50,0 days 02:14:08.485000,1,0 days 00:01:27.983000,51,1,NaT,NaT,0 days 00:00:17.478000,0 days 00:00:38.204000,0 days 00:00:32.301000,0 days 02:12:58.055000,0 days 02:13:36.259000,0 days 02:14:08.560000,288.0,298.0,214.0,306.0,False
51,0 days 02:15:36.940000,1,0 days 00:01:28.455000,52,1,NaT,NaT,0 days 00:00:17.540000,0 days 00:00:38.512000,0 days 00:00:32.403000,0 days 02:14:26.100000,0 days 02:15:04.612000,0 days 02:15:37.015000,290.0,298.0,213.0,307.0,False
52,0 days 02:17:05.335000,1,0 days 00:01:28.395000,53,1,NaT,NaT,0 days 00:00:17.619000,0 days 00:00:38.348000,0 days 00:00:32.428000,0 days 02:15:54.634000,0 days 02:16:32.982000,0 days 02:17:05.410000,291.0,301.0,213.0,307.0,False
53,0 days 02:18:33.510000,1,0 days 00:01:28.175000,54,1,NaT,NaT,0 days 00:00:17.581000,0 days 00:00:38.408000,0 days 00:00:32.186000,0 days 02:17:22.991000,0 days 02:18:01.399000,0 days 02:18:33.585000,292.0,300.0,213.0,307.0,False
54,0 days 02:20:02.327000,1,0 days 00:01:28.817000,55,1,NaT,NaT,0 days 00:00:17.572000,0 days 00:00:38.594000,0 days 00:00:32.651000,0 days 02:18:51.157000,0 days 02:19:29.751000,0 days 02:20:02.402000,287.0,298.0,212.0,306.0,False
55,0 days 02:21:30.948000,1,0 days 00:01:28.621000,56,1,NaT,NaT,0 days 00:00:17.539000,0 days 00:00:38.458000,0 days 00:00:32.624000,0 days 02:20:19.941000,0 days 02:20:58.399000,0 days 02:21:31.023000,292.0,298.0,212.0,305.0,False
56,0 days 02:22:59.730000,1,0 days 00:01:28.782000,57,1,NaT,NaT,0 days 00:00:17.698000,0 days 00:00:38.444000,0 days 00:00:32.640000,0 days 02:21:48.721000,0 days 02:22:27.165000,0 days 02:22:59.805000,291.0,301.0,212.0,310.0,False
57,0 days 02:24:28.203000,1,0 days 00:01:28.473000,58,1,NaT,NaT,0 days 00:00:17.574000,0 days 00:00:38.453000,0 days 00:00:32.446000,0 days 02:23:17.379000,0 days 02:23:55.832000,0 days 02:24:28.278000,NaN,298.0,214.0,306.0,False

In [8]:
#data[1].info()
print(data[1].columns)  

data[1]


# show me the keys of the second element

# print(data[1].columns)


# show me the info just for driver '44'
data_44 = data[1].loc[data[1]['Driver'] == '1']
data_44

Index(['Time', 'Driver', 'Position', 'GapToLeader', 'IntervalToPositionAhead'], dtype='object')

,Time,Driver,Position,GapToLeader,IntervalToPositionAhead
0,0 days 00:00:12.705000,1,1,LAP 1,LAP 1
1,0 days 00:59:52.382000,1,1,LAP 2,LAP 2
2,0 days 01:01:21.574000,1,1,LAP 3,LAP 3
3,0 days 01:02:51.137000,1,1,LAP 4,LAP 4
4,0 days 01:04:20.647000,1,1,LAP 5,LAP 5
...,...,...,...,...,...
452,0 days 02:17:05.351000,1,1,LAP 54,LAP 54
453,0 days 02:18:33.510000,1,1,LAP 55,LAP 55
454,0 days 02:20:02.325000,1,1,LAP 56,LAP 56
455,0 days 02:21:30.969000,1,1,LAP 57,LAP 57
456,0 days 02:22:59.735000,1,1,LAP 58,LAP 58

In [9]:
print("\n=== Element 2 (first few entries) ===")
pprint.pprint(data[2][:5])

=== Element 2 (first few entries) ===
[datetime.timedelta(0), datetime.timedelta(days=1), datetime.timedelta(days=1)]

# Driver info 

Contains name , surname , team , ecc . Not useful

In [10]:
import pprint

fpath = os.path.join(path_to_race, "driver_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datad = d["data"]  # the real stuff
print(type(datad))

print(len(datad))

for i, el in enumerate(datad):
    print(f"Index {i}: {type(el)}")

<class 'collections.defaultdict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [11]:
keysd = list(datad.keys())
print(keysd)

datadriver = pd.DataFrame(datad)
datadriver

['1', '4', '81', '63', '16', '14', '5', '31', '6', '22', '87', '55', '30', '12', '18', '44', '23', '27', '10', '43']

,1,4,81,63,16,14,5,31,6,22,87,55,30,12,18,44,23,27,10,43
RacingNumber,1,4,81,63,16,14,5,31,6,22,87,55,30,12,18,44,23,27,10,43
BroadcastName,M VERSTAPPEN,L NORRIS,O PIASTRI,G RUSSELL,C LECLERC,F ALONSO,G BORTOLETO,E OCON,I HADJAR,Y TSUNODA,O BEARMAN,C SAINZ,L LAWSON,K ANTONELLI,L STROLL,L HAMILTON,A ALBON,N HULKENBERG,P GASLY,F COLAPINTO
FullName,Max VERSTAPPEN,Lando NORRIS,Oscar PIASTRI,George RUSSELL,Charles LECLERC,Fernando ALONSO,Gabriel BORTOLETO,Esteban OCON,Isack HADJAR,Yuki TSUNODA,Oliver BEARMAN,Carlos SAINZ,Liam LAWSON,Kimi ANTONELLI,Lance STROLL,Lewis HAMILTON,Alexander ALBON,Nico HULKENBERG,Pierre GASLY,Franco COLAPINTO
Tla,VER,NOR,PIA,RUS,LEC,ALO,BOR,OCO,HAD,TSU,BEA,SAI,LAW,ANT,STR,HAM,ALB,HUL,GAS,COL
Line,1,3,2,5,4,6,11,7,17,14,12,13,18,15,10,8,16,9,19,20
TeamName,Red Bull Racing,McLaren,McLaren,Mercedes,Ferrari,Aston Martin,Kick Sauber,Haas F1 Team,Racing Bulls,Red Bull Racing,Haas F1 Team,Williams,Racing Bulls,Mercedes,Aston Martin,Ferrari,Williams,Kick Sauber,Alpine,Alpine
TeamColour,4781D7,F47600,F47600,00D7B6,ED1131,229971,01C00E,9C9FA2,6C98FF,4781D7,9C9FA2,1868DB,6C98FF,00D7B6,229971,ED1131,1868DB,01C00E,00A1E8,00A1E8
FirstName,Max,Lando,Oscar,George,Charles,Fernando,Gabriel,Esteban,Isack,Yuki,Oliver,Carlos,Liam,Kimi,Lance,Lewis,Alexander,Nico,Pierre,Franco
LastName,Verstappen,Norris,Piastri,Russell,Leclerc,Alonso,Bortoleto,Ocon,Hadjar,Tsunoda,Bearman,Sainz,Lawson,Antonelli,Stroll,Hamilton,Albon,Hulkenberg,Gasly,Colapinto
Reference,MAXVER01,LANNOR01,OSCPIA01,GEORUS01,CHALEC01,FERALO01,GABBOR01,ESTOCO01,ISAHAD01,YUKTSU01,OLIBEA01,CARSAI01,LIALAW01,ANDANT01,LANSTR01,LEWHAM01,ALEALB01,NICHUL01,PIEGAS01,FRACOL01
HeadshotUrl,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,https://media.formula1.com/d_driver_fallback_i...,NaN

# Lap Count Datas

Two maindataframe , the first one has 940 rows and 18 colums : (see below)

The second one has 22500 rows and 5 colums : (see below)

In [12]:
import pprint

fpath = os.path.join(path_to_race, "lap_count.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataaa = d["data"]  # the real stuff
print(type(dataaa))

print(len(dataaa))

for i, el in enumerate(dataaa):
    print(f"Index {i}: {type(el)}")

pprint.pprint(list(dataaa.items())[:5])

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
[('Time',
  [datetime.timedelta(seconds=4, microseconds=17000),
   datetime.timedelta(seconds=3592, microseconds=382000),
   datetime.timedelta(seconds=3681, microseconds=574000),
   datetime.timedelta(seconds=3771, microseconds=139000),
   datetime.timedelta(seconds=3860, microseconds=662000),
   datetime.timedelta(seconds=3950, microseconds=348000),
   datetime.timedelta(seconds=4040, microseconds=124000),
   datetime.timedelta(seconds=4129, microseconds=882000),
   datetime.timedelta(seconds=4219, microseconds=466000),
   datetime.timedelta(seconds=4308, microseconds=865000),
   datetime.timedelta(seconds=4398, microseconds=357000),
   datetime.timedelta(seconds=4488, microseconds=26000),
   datetime.timedelta(seconds=4577, microseconds=411000),
   datetime.timedelta(seconds=4667, microseconds=55000),
   datetime.timedelta(seconds=4756, microseconds=581000),
   datetime.timedelta(seconds=4846, microseconds=287000),
   datetime.timedelta(seconds=4935, microseconds=741000),
   datetime.timedelta(seconds=5025, microseconds=320000),
   datetime.timedelta(seconds=5114, microseconds=941000),
   datetime.timedelta(seconds=5204, microseconds=641000),
   datetime.timedelta(seconds=5294, microseconds=111000),
   datetime.timedelta(seconds=5383, microseconds=518000),
   datetime.timedelta(seconds=5472, microseconds=784000),
   datetime.timedelta(seconds=5564, microseconds=144000),
   datetime.timedelta(seconds=5654, microseconds=284000),
   datetime.timedelta(seconds=5743, microseconds=498000),
   datetime.timedelta(seconds=5833, microseconds=34000),
   datetime.timedelta(seconds=5922, microseconds=314000),
   datetime.timedelta(seconds=6011, microseconds=307000),
   datetime.timedelta(seconds=6100, microseconds=232000),
   datetime.timedelta(seconds=6189, microseconds=324000),
   datetime.timedelta(seconds=6278, microseconds=327000),
   datetime.timedelta(seconds=6367, microseconds=315000),
   datetime.timedelta(seconds=6456, microseconds=384000),
   datetime.timedelta(seconds=6545, microseconds=639000),
   datetime.timedelta(seconds=6634, microseconds=812000),
   datetime.timedelta(seconds=6723, microseconds=836000),
   datetime.timedelta(seconds=6812, microseconds=948000),
   datetime.timedelta(seconds=6902, microseconds=50000),
   datetime.timedelta(seconds=6991, microseconds=362000),
   datetime.timedelta(seconds=7080, microseconds=729000),
   datetime.timedelta(seconds=7169, microseconds=341000),
   datetime.timedelta(seconds=7257, microseconds=741000),
   datetime.timedelta(seconds=7345, microseconds=473000),
   datetime.timedelta(seconds=7433, microseconds=363000),
   datetime.timedelta(seconds=7521, microseconds=135000),
   datetime.timedelta(seconds=7609, microseconds=115000),
   datetime.timedelta(seconds=7696, microseconds=963000),
   datetime.timedelta(seconds=7784, microseconds=762000),
   datetime.timedelta(seconds=7872, microseconds=531000),
   datetime.timedelta(seconds=7960, microseconds=500000),
   datetime.timedelta(seconds=8048, microseconds=496000),
   datetime.timedelta(seconds=8136, microseconds=965000),
   datetime.timedelta(seconds=8225, microseconds=357000),
   datetime.timedelta(seconds=8313, microseconds=519000),
   datetime.timedelta(seconds=8402, microseconds=325000),
   datetime.timedelta(seconds=8490, microseconds=969000),
   datetime.timedelta(seconds=8579, microseconds=735000)]),
 ('TotalLaps',
  [58,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None,
   None]),
 ('CurrentLap',
  [1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   53,
   54,
   55,
   56,
   57,
   58])]

In [13]:
# Show all keys
print(dataaa.keys())

# Time
print("\n--- TIME ---")
for t in dataaa["Time"][:10]:  # print first 10
    print(t)

# TotalLaps
print("\n--- TOTAL LAPS ---")
for tl in dataaa["TotalLaps"][:10]:
    print(tl)

# CurrentLap
print("\n--- CURRENT LAP ---")
for cl in dataaa["CurrentLap"][:10]:
    print(cl)

dict_keys(['Time', 'TotalLaps', 'CurrentLap'])

--- TIME ---
0:00:04.017000
0:59:52.382000
1:01:21.574000
1:02:51.139000
1:04:20.662000
1:05:50.348000
1:07:20.124000
1:08:49.882000
1:10:19.466000
1:11:48.865000

--- TOTAL LAPS ---
58
None
None
None
None
None
None
None
None
None

--- CURRENT LAP ---
1
2
3
4
5
6
7
8
9
10

In [14]:
# import fastf1 as f1
# import pandas as pd

# f1.Cache.enable_cache("/Users/jacoposinigaglia/Desktop/svizzera/terzo_semestre/Advanced_Data_Analysis/Progetto/cache")

# session = f1.get_session(2024, "Monza", "R")  # example
# session.load()

# # Per-driver lap table
# laps = session.laps  # columns: Driver, LapNumber, LapStartTime, LapTime, etc.

# # Example: one driverâ€™s lap timeline as a DataFrame
# drv = "LEC"  # change as needed
# df_driver = (laps.pick_drivers(drv)
#                  .loc[:, ["LapNumber","LapStartTime","LapTime"]]
#                  .sort_values("LapNumber"))

# # If you want a time series like your pickle (elapsed time vs lap number):
# driver_progress = df_driver.rename(columns={"LapStartTime":"Time",
#                                             "LapNumber":"CurrentLap"})
# driver_progress["Time"] = pd.to_timedelta(driver_progress["Time"])
# driver_progress["TotalLaps"] = laps["LapNumber"].max()  # crude global total

# # Now you have a per-driver â€œtwo DataFramesâ€ view:
# df_session = pd.DataFrame(d["data"])           # session-level (your pickle)
# df_driver_view = driver_progress               # driver-level
# print(df_session)
# print(df_driver_view)

# Position Data

Contains for every driver more or less 20000 rows with 7 colums: Time | Date | Status ( offtrack/on) | x | y | z | pos

In [14]:
import pprint

fpath = os.path.join(path_to_race, "position_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataa = d["data"]  # the real stuff
print(type(dataa))

print(len(dataa))

for i, el in enumerate(dataa):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
20
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>
Index 13: <class 'str'>
Index 14: <class 'str'>
Index 15: <class 'str'>
Index 16: <class 'str'>
Index 17: <class 'str'>
Index 18: <class 'str'>
Index 19: <class 'str'>

In [15]:
keys = list(dataa.keys())
print(keys)

['1', '4', '5', '6', '10', '12', '14', '16', '18', '22', '23', '27', '30', '31', '43', '44', '55', '63', '81', '87']

In [16]:
key = keys[18]  
driver_data = dataa[key]

print("Type:", type(driver_data))

if hasattr(driver_data, "head"):
    # It's a DataFrame
    display(driver_data)
elif isinstance(driver_data, dict):
    # Nested dict
    print("Subkeys:", list(driver_data.keys())[:10])
    pprint.pprint(driver_data[list(driver_data.keys())[0]])
else:
    # Some other type (list, array)
    pprint.pprint(driver_data)

Type: <class 'pandas.core.frame.DataFrame'>

,Time,Date,Status,X,Y,Z,Source
0,0 days 00:00:29.829000,2025-12-07 12:05:36.891246,OnTrack,0,0,0,pos
1,0 days 00:00:31.129000,2025-12-07 12:05:37.191201,OnTrack,0,0,0,pos
2,0 days 00:00:31.129000,2025-12-07 12:05:37.491155,OnTrack,0,0,0,pos
3,0 days 00:00:31.129000,2025-12-07 12:05:37.771112,OnTrack,0,0,0,pos
4,0 days 00:00:31.129000,2025-12-07 12:05:38.191049,OnTrack,0,0,0,pos
...,...,...,...,...,...,...,...
34447,0 days 02:32:04.133000,2025-12-07 14:37:10.354679,OnTrack,991,2129,-239,pos
34448,0 days 02:32:04.133000,2025-12-07 14:37:10.594643,OnTrack,991,2129,-239,pos
34449,0 days 02:32:04.133000,2025-12-07 14:37:10.954588,OnTrack,991,2129,-239,pos
34450,0 days 02:32:04.133000,2025-12-07 14:37:11.195551,OnTrack,991,2129,-239,pos
34451,0 days 02:32:04.353000,2025-12-07 14:37:11.415518,OnTrack,991,2129,-239,pos

# Session Info

In [17]:
import pprint

fpath = os.path.join(path_to_race, "session_info.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

data = d["data"]  # the real stuff
print(type(data))

print(len(data))

for i, el in enumerate(data):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
10
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>

In [18]:
keys = list(data.keys())
print(keys)

data = pd.DataFrame(data)
data

['Meeting', 'SessionStatus', 'ArchiveStatus', 'Key', 'Type', 'Name', 'StartDate', 'EndDate', 'GmtOffset', 'Path']

,Meeting,SessionStatus,ArchiveStatus,Key,Type,Name,StartDate,EndDate,GmtOffset,Path
Key,1276,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Name,Abu Dhabi Grand Prix,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
OfficialName,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Location,Yas Island,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Number,24,Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Country,"{'Key': 21, 'Code': 'UAE', 'Name': 'United Ara...",Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Circuit,"{'Key': 70, 'ShortName': 'Yas Marina Circuit'}",Inactive,NaN,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...
Status,NaN,Inactive,Generating,9839,Race,Race,2025-12-07 17:00:00,2025-12-07 19:00:00,0 days 04:00:00,2025/2025-12-07_Abu_Dhabi_Grand_Prix/2025-12-0...

# Session Status Data

In [19]:
import pprint

fpath = os.path.join(path_to_race, "session_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

dataiii= d["data"]  # the real stuff
print(type(dataiii))

print(len(dataiii))

for i, el in enumerate(dataiii):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
2
Index 0: <class 'str'>
Index 1: <class 'str'>

In [20]:
keys = list(dataiii.keys())
print(keys)

aa = pd.DataFrame(dataiii)
aa

['Time', 'Status']

                    Time     Status
0 0 days 00:00:11.502000   Inactive
1 0 days 00:58:20.522000    Started
2 0 days 02:24:28.174000   Finished
3 0 days 02:34:40.200000  Finalised
4 0 days 02:34:40.200000       Ends

# Timing app data

In [21]:
import pprint

fpath = os.path.join(path_to_race, "timing_app_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datas = d["data"]  
print(type(datas))

print(len(datas))

for i, el in enumerate(datas):
    print(f"Index {i}: {type(el)}")

<class 'pandas.core.frame.DataFrame'>
1432
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>
Index 8: <class 'str'>
Index 9: <class 'str'>
Index 10: <class 'str'>
Index 11: <class 'str'>
Index 12: <class 'str'>

In [22]:
chiavi = list(datas.keys())
print(chiavi)

['LapNumber', 'Driver', 'LapTime', 'Stint', 'TotalLaps', 'Compound', 'New', 'TyresNotChanged', 'Time', 'LapFlags', 'LapCountTime', 'StartLaps', 'Outlap']

In [23]:
import pandas as pd

df = pd.DataFrame(datas)
df


#print just the datas for driver '44'
df_44 = df.loc[df['Driver'] == '10']
df_44

,LapNumber,Driver,LapTime,Stint,TotalLaps,Compound,New,TyresNotChanged,Time,LapFlags,LapCountTime,StartLaps,Outlap
3,NaN,10,NaT,0,0.0,MEDIUM,True,0,0 days 00:50:03.657000,0.0,None,0.0,None
38,NaN,10,NaT,0,1.0,None,None,None,0 days 01:00:03.813000,NaN,None,NaN,None
76,NaN,10,NaT,0,2.0,None,None,None,0 days 01:01:38.827000,NaN,None,NaN,None
78,2.0,10,0 days 00:01:32.010000,0,NaN,None,None,None,0 days 01:01:38.863000,1.0,None,NaN,None
113,3.0,10,0 days 00:01:30.864000,0,NaN,None,None,None,0 days 01:03:05.123000,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1331,NaN,10,NaT,2,16.0,None,None,None,0 days 02:18:39.382000,NaN,None,NaN,None
1353,NaN,10,NaT,2,17.0,None,None,None,0 days 02:20:09.377000,NaN,None,NaN,None
1373,NaN,10,NaT,2,18.0,None,None,None,0 days 02:21:39.395000,NaN,None,NaN,None
1394,NaN,10,NaT,2,19.0,None,None,None,0 days 02:23:09.398000,NaN,None,NaN,None
1415,NaN,10,NaT,2,20.0,None,None,None,0 days 02:24:39.415000,NaN,None,NaN,None

# Track Status Data

In [24]:
import pprint

fpath = os.path.join(path_to_race, "track_status_data.ff1pkl")

with open(fpath, "rb") as f:
    d = pickle.load(f)

datass = d["data"]  
print(type(datass))

print(len(datass))

for i, el in enumerate(datass):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
3
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>

In [25]:
# print the keys of the datass dictionary
keyss = list(datass.keys())
print(keyss)

['Time', 'Status', 'Message']

In [26]:
import pprint

for k, v in datass.items():
    print(f"\n=== {k} ===")
    print("Type:", type(v))
    print("Length:", len(v))
    pprint.pprint(v[:10])  

df_track_status = pd.DataFrame(datass)
df_track_status = df_track_status.sort_values("Time").reset_index(drop=True)

display(df_track_status)

=== Time ===
Type: <class 'list'>
Length: 7
[datetime.timedelta(0),
 datetime.timedelta(seconds=62, microseconds=202000),
 datetime.timedelta(seconds=104, microseconds=386000),
 datetime.timedelta(seconds=345, microseconds=128000),
 datetime.timedelta(seconds=376, microseconds=112000),
 datetime.timedelta(seconds=2799, microseconds=231000),
 datetime.timedelta(seconds=2812, microseconds=88000)]

=== Status ===
Type: <class 'list'>
Length: 7
['1', '2', '1', '2', '1', '2', '1']

=== Message ===
Type: <class 'list'>
Length: 7
['AllClear', 'Yellow', 'AllClear', 'Yellow', 'AllClear', 'Yellow', 'AllClear']

                    Time Status   Message
0        0 days 00:00:00      1  AllClear
1 0 days 00:01:02.202000      2    Yellow
2 0 days 00:01:44.386000      1  AllClear
3 0 days 00:05:45.128000      2    Yellow
4 0 days 00:06:16.112000      1  AllClear
5 0 days 00:46:39.231000      2    Yellow
6 0 days 00:46:52.088000      1  AllClear

# weather data

In [27]:
import pprint

ffpath = os.path.join(path_to_race, "weather_data.ff1pkl")

with open(ffpath, "rb") as f:
    d = pickle.load(f)

datatempo = d["data"]  
print(type(datatempo))

print(len(datatempo))

for i, el in enumerate(datatempo):
    print(f"Index {i}: {type(el)}")

<class 'dict'>
8
Index 0: <class 'str'>
Index 1: <class 'str'>
Index 2: <class 'str'>
Index 3: <class 'str'>
Index 4: <class 'str'>
Index 5: <class 'str'>
Index 6: <class 'str'>
Index 7: <class 'str'>

In [28]:
tempo = list(datatempo.keys())
print(tempo)

# printing a dataframe of the weather data

df_weather = pd.DataFrame(datatempo)
display(df_weather)

['Time', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp', 'WindDirection', 'WindSpeed']

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:01:00.108000,27.4,55.0,1016.4,False,34.6,67,3.0
1,0 days 00:02:00.124000,27.4,54.0,1016.4,False,34.4,290,2.4
2,0 days 00:03:00.131000,27.5,54.0,1016.3,False,34.4,286,1.4
3,0 days 00:04:00.144000,27.5,54.0,1016.5,False,34.2,350,2.6
4,0 days 00:05:00.164000,27.5,55.0,1016.4,False,34.0,327,3.2
...,...,...,...,...,...,...,...,...
149,0 days 02:30:00.883000,26.0,66.0,1017.4,False,28.7,88,1.7
150,0 days 02:31:00.881000,26.0,66.0,1017.3,False,28.9,128,1.4
151,0 days 02:32:00.887000,25.9,66.0,1017.4,False,28.9,101,0.6
152,0 days 02:33:00.886000,25.9,66.0,1017.4,False,29.0,104,1.2
153,0 days 02:34:00.886000,25.9,66.0,1017.3,False,28.9,84,1.5

In [29]:

print(f"Weather dataset shape: {df_weather.shape}")
print(f"\nMerged Time column (first 5):")


print(f"\nWeather Time column (first 5):")
print(df_weather['Time'].head())
print(f"Type: {type(df_weather['Time'].iloc[0])}")

Weather dataset shape: (154, 8)

Merged Time column (first 5):

Weather Time column (first 5):
0   0 days 00:01:00.108000
1   0 days 00:02:00.124000
2   0 days 00:03:00.131000
3   0 days 00:04:00.144000
4   0 days 00:05:00.164000
Name: Time, dtype: timedelta64[ns]
Type: <class 'pandas._libs.tslibs.timedeltas.Timedelta'>